
/*
   Using the `container-app.html` base styles located at:
   http://github.com/twitter/bootstrap/blob/master/examples/container-app.html

   If you're not going to use this as a basis for your site design, go ahead and delete it.
*/


html, body {
  background-color: #eee;
}

/* The white background content wrapper */
.container > .content {
  background-color: #fff;
  padding: 6px 20px 20px 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  margin-top: 50px;
  -webkit-border-radius: 6px 6px;
     -moz-border-radius: 6px 6px;
          border-radius: 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

