blockquote {
    font-style: italic;
}

blockquote > p {
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

.page-content {
    clear: both;
}

time {
    float: right;
    margin: 5px;
    text-decoration: none;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #fafafa;
    color: #222;
    font-size: 0.9em;
    border-radius: 2em;
    box-shadow: 2px 2px 4px #ddd;
    line-height: 1.2em;
    clear: both;
}

.socialised {
    display: inline-block;
    width: 120px;
}

.socialised > .FlattrButton {
    display: inline-block;
    width: 120px;
}

.post-summary p {
    font-style: italic;
    font-size: 0.9em;
}

.context-nav {
    height: 3em;
}

.context-nav-prev {
    float: left;
}

.context-nav-next {
    float: right;
}

h1,  h2, #projects > h3 {
    clear: both;
}

.clear {
    clear: both;
}

.page-content img, .page-content video {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.project-logo {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 140px;
    max-height: 60px;
    clear: both;
}

.social {
    width: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

footer {
    padding: 10px;
    clear: both;
    text-align: center;
}

#BigFlattrButton {
    float: right
}

.rss-logo {
    float: right
}

.social-logo img {
    display: inline;
}

.homepage-photo > img {
    border-radius: 6px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

table tr.active {
    background: #f9f9f9;
}

pre {
    clear: both;
}



#banner{
    height: 149px;
    width: 149px;
    overflow:hidden;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 10000;
}

#banner a{

    display: block;
    width: 190px;
    font-size: 14px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
    Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    background-color: #333;
    color: #FFF;
    word-spacing: 2px;
    text-decoration: none;
    padding: 5px 15px 5px 25px;

    position:relative;
    left: 20px;
    top: -37px;
    text-align: center;

    -moz-transform-origin: 0 0 ;
    -moz-transform:rotate(45deg);
    -moz-box-shadow:    1px 1px 5px 1px #666;

    -webkit-transform-origin: 0 0 ;
    -webkit-transform:rotate(45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;

    -ms-transform-origin: 0 0 ;
    -ms-transform:rotate(45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;

    transform-origin: 0 0 ;
    transform:rotate(45deg);
    box-shadow: 1px 1px 5px 1px #666;

    background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
    background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #221111),
	color-stop(0.05, #666666),
	color-stop(0.07, #443333),
	color-stop(0.93, #443333),
	color-stop(0.95, #666666),
	color-stop(0.97, #221111)
    );
}