blockquote {
    font-style: italic;
}

blockquote > p {
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

.page-content {
    clear: both;
}

time.label {
    float: right;
    clear: both;
    vertical-align: bottom;
}

[class^="icon-"] {
    vertical-align: middle
}

.socialised {
    display: inline-block;
    width: 120px;
}

.socialised > .FlattrButton {
    display: inline-block;
    width: 120px;
}

.post-summary {
    margin: 20px;
}

.post-summary p {
    font-style: italic;
    font-size: 0.9em;
}

.clear {
    clear: both;
}

.not-clear {
    clear: none;
}


.page-content img, .page-content video {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.taglist {
    text-align: right;
}

.project-logo {
    max-width: 80px;
    max-height: 40px;
}

img.cv-logo {
    max-width: 100px;
    max-height: 60px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

img.software-logo {
    max-width: 60px;
    max-height: 40px;
    display: inline;
}

img.reference-logo {
    max-width: 120px;
    max-height: 50px;
    display: inline
}

.social {
    width: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#social-logos {
    text-align: center;
}

#social-logos img {
    display: inline;
    margin-top: 4px;
}

#btn-print {
    float: right;
}

footer {
    padding: 10px;
    clear: both;
    text-align: center;
}

#BigFlattrButton {
    float: right
}

.rss-logo {
    float: right
}

table tr.active {
    background: #f9f9f9;
}

pre {
    clear: both;
}

.bigfont {
    font-size: 1.4em;
    color: #333333;
    line-height: 1.5em;
}

.bigfont li {
    line-height: 1.4em;
}

.mediumfont {
    font-size: 1.15em;
    color: #333333;
    line-height: 1.3em;
}

.mediumfont li {
    line-height: 1.3em;
}

.illustration {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.illustration > img {
    border-radius: 6px;
}

.software-excerpt {
    height: 150px;
}

.software-excerpt:hover {
    background: whiteSmoke;
}

.software-excerpt h2 {
    line-height: 55px;
}

.reference {
    height: 140px;
}

.reference:hover {
    background: whiteSmoke;
}

.reference h2 {
    text-align: center;
    line-height: 65px;
}


.row {
    margin-bottom: 10px;
}

#banner{
    height: 149px;
    width: 149px;
    overflow:hidden;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 10000;
}

#banner a{

    display: block;
    width: 190px;
    font-size: 14px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
    Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
    background-color: #333;
    color: #FFF;
    word-spacing: 2px;
    text-decoration: none;
    padding: 5px 15px 5px 25px;

    position:relative;
    left: 20px;
    top: -37px;
    text-align: center;

    -moz-transform-origin: 0 0 ;
    -moz-transform:rotate(45deg);
    -moz-box-shadow:    1px 1px 5px 1px #666;

    -webkit-transform-origin: 0 0 ;
    -webkit-transform:rotate(45deg);
    -webkit-box-shadow: 1px 1px 5px 1px #666;

    -ms-transform-origin: 0 0 ;
    -ms-transform:rotate(45deg);
    -ms-box-shadow: 1px 1px 5px 1px #666;

    transform-origin: 0 0 ;
    transform:rotate(45deg);
    box-shadow: 1px 1px 5px 1px #666;

    background-image: linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -o-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -moz-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -webkit-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);
    background-image: -ms-linear-gradient(bottom, #1073ed 3%, #b5c7de 5%, #5b90d0 7%, #4382cf 93%, #b5c7de 95%, #1272e8 97%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, #1073ed),
	color-stop(0.05, #b5c7de),
	color-stop(0.07, #5b90d0),
	color-stop(0.93, #4382cf),
	color-stop(0.95, #b5c7de),
	color-stop(0.97, #1272e8)
    );
}