.hyde_deps
content/blog/tags
deploy/sitemap.xml
deploy/talks/index.html
deploy/about/
deploy/projects/
deploy/books/
deploy/blog/
deploy/media/images/blog/2012/openstack-swift-storage.png
deploy/media/images/blog/2012/openstack-swift-replication.png
deploy/media/images/talks/thumbnails/
stork.cfg
.DS_Store
resources/
deploy/media/js/custom.min.js
deploy/media/js/plugins.min.js
deploy/media/css/animate.min.css
deploy/media/css/pygments.min.css
deploy/media/css/style-jd.min.css
deploy/media/css/style.min.css
