deploy
.hyde_deps
content/blog/tags
content/media/images/blog/2012/openstack-swift-storage.png
content/media/images/blog/2012/openstack-swift-replication.png
content/media/images/talks/*.png
stork.cfg
.DS_Store
resources/
