---
title: jd:/dev/blog
subtitle: <span class="rss-logo"><a href="/blog/index.xml"><img alt="RSS" src="/media/images/blog/rss.png"></a></span>
default_block: None
---
{% block main %}
{% from "macros.j2" import render_blog_listing with context %}
<div class="row">
  <div class="tabbable span10">
    <ul class="nav nav-tabs">
    {% for node in resource.node.child_nodes|sort(attribute="name")|reverse if node.name.startswith("2") %}
      <li{% if loop.first %} class="active" {% endif %}><a href="#{{node.name}}" data-toggle="tab">{{ node.name }}</a></li>
    {% endfor %}
    </ul>
    <div class="tab-content">
    {% for node in resource.node.child_nodes|sort(attribute="name")|reverse if node.name.startswith("2")%}
      <div class="tab-pane fade in{% if loop.first %} active{% endif %}" id="{{node.name}}">
      {{ render_blog_listing(node.walk_resources_sorted_by_time()) }}
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="span2">
    <h2><i class="icon-tags"></i> Tags</h2>
    {% for tag, meta in site.tagger.tags %}
    <a href="/blog/tags/{{tag}}.html"><span class="label label-inverse" style="line-height: {{ 18 + (meta.resources|length) / 2 }}px; font-size: {{ 8 + (meta.resources|length) / 2 }}px;">{{tag}} ({{(meta.resources|length)}})</span></a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block endjs %}
<script type="text/javascript">
bootstrap_tab_bookmark();
</script>
{% endblock %}
