---
extends:
---
RedirectMatch ^/$ /blog/
RedirectPermanent /software/rainbow-mode https://julien.danjou.info/projects/emacs-packages#rainbow-mode
RedirectPermanent /software/google-weather.el https://julien.danjou.info/projects/emacs-packages#google-weather
RedirectPermanent /software/google-maps.el https://julien.danjou.info/projects/emacs-packages#google-maps
RedirectPermanent /software/google-contacts.el https://julien.danjou.info/projects/emacs-packages#google-contacts
RedirectPermanent /software/oauth2.el https://julien.danjou.info/projects/emacs-packages#oauth2
RedirectPermanent /software/muse-blog.el https://julien.danjou.info/projects/emacs-packages#muse-blog
RedirectPermanent /software/offlineimap.el https://julien.danjou.info/projects/emacs-packages#offlineimap
RedirectPermanent /software/org-contacts.el https://julien.danjou.info/projects/emacs-packages#org-contacts
RedirectPermanent /software/erc-track-score.el https://julien.danjou.info/projects/emacs-packages#erc-track-score
RedirectPermanent /software https://julien.danjou.info/projects
RedirectPermanent /experience https://julien.danjou.info/
RedirectPermanent /freelance https://julien.danjou.info/
# Typo :(
RedirectPermanent /blog/2013/lips-and-openstack-with-cl-openstack-client https://julien.danjou.info/blog/2013/lisp-and-openstack-with-cl-openstack-client
RedirectPermanent /blog/2013/guide-python-static-class-astract-methods https://julien.danjou.info/blog/2013/guide-python-static-class-abstract-methods
RedirectPermanent /blog/2013/openstack-ceilometer-head-graduated https://julien.danjou.info/blog/2013/openstack-ceilometer-heat-graduated
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.*$ %{REQUEST_FILENAME}.html
