---
default_block: None
---

{% block starthead %}
<link href="https://plus.google.com/107513391728776207155" rel="publisher" />
{% endblock %}

{% block title %}
Julien Danjou, Free Software freelance
{% endblock %}

{% block main %}

<div id="bio-title">
  <span id="bio-line-1">I'm a</span>
  <br>
  <strong>Free<br>Software</strong>
  <br>
  <span id="bio-line-3">hacker<span>
</div>

<div class="illustration float-right">
  <img src="/media/images/jd.jpg">
</div>

<div class="bigfont">
  My name is Julien Danjou, and I'm a 28 years
  old <strong>Free Software
    <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)">hacker</a></strong> and <strong>developer</strong>
  working <strong><a href="/freelance">freelance</a></strong>.
</div>

<br>

<div class="bigfont">
  I studied Computer Science and passed a <strong>Master degree</strong> in
  2006. For the last 10 years, I've been developing and contributing
  to <strong><a href="/projects">many Free Software projects</a></strong>.
  Among other things, I'm a <strong>Debian developer</strong> since 2002,
  the author of the <strong>awesome window manager</strong>, and a
  contributor to <strong>OpenStack</strong>.
</div>

<br>

<div class="bigfont">
I worked as a <strong>Linux system engineer & developer</strong> for the last 10 years,
in various organizations and companies, and now have a strong knowledge about
systems and development.
</div>

<div id="social-logos">
  <a href="http://plus.google.com/108793797474967511035?prsrc=3" title="Julien Danjou on Google+">
    <img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+ logo"/>
  </a>
  <a href="http://twitter.com/juldanjou" title="juldanjou on Twitter">
    <img src="media/images/twitter.png" alt="Twitter logo"/>
  </a>
  <a href="http://linkedin.com/in/juliendanjou" title="juliendanjou on LinkedIn">
    <img src="media/images/linkedin.jpg" alt="LinkedIn logo"/>
  </a>
  <a href="http://www.viadeo.com/fr/profile/julien.danjou" title="julien.danjou on Viadeo">
    <img src="media/images/viadeo.png" alt="Viadeo logo"/>
  </a>
  <a href="https://flattr.com/profile/jd" title="jd on Flattr">
    <img src="media/images/flattr.png" alt="Flattr logo"/>
  </a>
</div>

{% endblock %}
