---
title: References
extends:
---
<div class="well mediumfont">
  These are customers I worked or did missions for in the last years.
</div>

{% macro render_ref(url, logo, text) %}
  <div class="span3">
    <div class="reference thumbnail">
      <h2>
        {% if url %}
        <a href="{{ url }}">
        {% endif %}
          <img class="reference-logo" src="{{logo}}">
        {% if url %}
        </a>
        {% endif %}
      </h2>
      <div class="caption">
        <p>
        {{ text|typogrify }}
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

<div class="clear row-fluid">
  {% for reference in site.context.references %}
  {% if loop.index0 % 4 == 0 %}
</div>
<div class="clear row-fluid">
{% endif %}
  {{ render_ref(reference.url, reference.logo, reference.text) }}
  {% endfor %}
</div>
