---
title: References
extends:
---
<div id="references-detailed">
  <div class="media">
    <a class="pull-left" href="http://enovance.com">
      <img class="media-object reference-logo-detailed"
           src="/media/images/cv/enovance.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">eNovance: Ceilometer development</h4>
      <p>
        <a href="http://enovance.com">eNovance</a> is an hosting and cloud
        provider company. In 2012, I leaded their development team to build
        the first European cloud based on OpenStack.
      </p>
      <p>
        Later, while enhancing its cloud platform solution, eNovance needed
        an accounting solution for OpenStack. They chose
        <a href="http://launchpad.net/ceilometer">Ceilometer</a>, and hired
        me to contribute to the project and center efforts on features
        required for their deployment to succeed.
      </p>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="http://dreamhost.com">
      <img class="media-object reference-logo-detailed"
           src="/media/images/dreamhost.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">DreamHost: Ceilometer features implementation</h4>
      <p>
        <a href="http://dreamhost.com">DreamHost</a> is a Web hosting
        company that launched a <a href="http://dreamhost.com/cloud/">cloud
        computing offer</a> in 2012 based on OpenStack. Like any cloud
        platform operator, they needed accounting features in order to bill
        properly they customer.
      </p>
      <p>
        Rather than reinventing the wheel, they chose to participate in the
        developement of
        <a href="http://launchpad.net/ceilometer">Ceilometer</a>, the
        <a href="http://openstack.org">OpenStack</a> Metering project to
        build their solution. I've been in charge to implement features they
        needed directly into Ceilometer.
      </p>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="http://swiftstack.com">
      <img class="media-object reference-logo-detailed"
           src="/media/images/swiftstack.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">SwiftStack: developments for Swift</h4>
      <p>
        <a href="http://swiftstack.com">SwiftStack</a> is a company editing
        a storage system based on Swift, the
        <a href="http://openstack.org">OpenStack</a> Object Storage project.
      </p>
      <p>
        SwiftStack already works with and employs some upstream developers of
        Swift, and I've been able to help them adding new features on Swift
        and the SwiftStack software stack.
      </p>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="http://smile.fr">
      <img class="media-object reference-logo-detailed"
           src="/media/images/smile.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Smile: OpenStack consulting</h4>
      <p>
        <a href="http://smile.fr">Smile</a> is an open source solution
        integrator, and chose to work with OpenStack for their cloud
        solutions.
      </p>
      <p>I've been able to help them working with upstream developers,
        fixing bugs, providing advice and training for people to interact
        with the community.
      </p>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="http://eisti.fr">
      <img class="media-object reference-logo-detailed"
           src="/media/images/eisti.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">EISTI: Ceilometer development</h4>
      <p>
      <a href="http://eisti.fr">EISTI</a> is a Computer Science engineering
          school, and takes part in the <a href="http://xlcloud.rg">XLCloud</a>
          project. XLCloud aims at bringing High Performance Computing (HPC) to
          the cloud, using OpenStack.
      </p>
      <p>
        A part of the project is about accounting the platform usages, for
        the IaaS and PaaS sides of the developed solution. I've been able to
        provide advice on Ceilometer usage and how it could be helpful to
        the project, along with orienting and doing some upstream
        development on Ceilometer.
      </p>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="http://1984.is">
      <img class="media-object reference-logo-detailed"
           src="/media/images/1984.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">1984: OpenStack setup</h4>
      <p>
        1984 is an hosting company established by free software and civil
        rights enthusiasts. To modernize their infrastructure, they were
        looking at deploying an <a href="http://openstack.org">OpenStack</a>
        platform.
      </p>
      <p>
        After discussing their requirements, I've been able to build a small
        OpenStack platform for them, while fixing some bugs encountered
        during the setup directly in the upstream code base.
      </p>
    </div>
  </div>
</div>

<h3>Other companies I helped along the years</h3>

{% macro render_ref(url, logo, text) %}
<div class="span4">
  <div class="reference thumbnail">
    <h2>
      {% if url %}
      <a href="{{ url }}">
        {% endif %}
        <img class="reference-logo" src="{{logo}}">
        {% if url %}
      </a>
      {% endif %}
    </h2>
    <div class="caption">
      <p>
        {{ text|typogrify }}
      </p>
    </div>
  </div>
</div>
{% endmacro %}

<div class="clear row-fluid">
  {% for reference in site.context.references %}
  {% if loop.index0 % 3 == 0 %}
</div>
<div class="clear row-fluid">
  {% endif %}
  {{ render_ref(reference.url, reference.logo, reference.text) }}
  {% endfor %}
</div>
