---
title: "Projects"
---
<div class="well">
  <div id="BigFlattrButton">
    <a class="FlattrButton" style="display:none;" href="http://julien.danjou.info"></a>
    <noscript><a href="http://flattr.com/thing/48024/Support-me" target="_blank">
        <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this"/></a></noscript>
  </div>
  <p class="mediumfont">
    Here is a list of Free Software (or related) projects I've contributed to. I only list the projects for which I made a significant contribution, or the ones where I'm one of the author or developer.
  </p>
  <p>
    There's also a lot of small contributions I did all over the years. Some of this small contributions are referenced on
    <a href="http://www.ohloh.net/accounts/jdanjou">Ohloh</a>.
  </p>
</div>

{% macro render_software(name, url, logo, text) %}
  <li class="span4">
    <div class="thumbnail software-excerpt">
      <h2>
        <a href="{{ url }}">
          {% if logo %}
          <img class="software-logo" src="{{logo}}">
          {% else %}
          {{name}}
          {% endif %}
        </a>
      </h2>
      <div class="caption">
        {% if logo %}
        <h4><a href="{{ url }}">{{name}}</a></h4>
        {% endif %}
        <p>
          {{ text|typogrify }}
        </p>
      </div>
    </div>
  </li>
{% endmacro %}

<ul class="thumbnails clear">
  {{ render_software("Debian",
  "http://debian.org",
  "/media/images/projects/debian.png",
  "I am a Debian developer since 2002, maintaining <a href=\"http://qa.debian.org/developer.php?login=acid\">more than 50 packages</a>. I've been an <a href=\"https://nm.debian.org/public/whoisam\">Application Manager</a>, a Stable Release Manager and founded the <a href=\"http://alioth.debian.org/projects/pkg-xen/\">Xen</a> and the <a href=\"http://alioth.debian.org/projects/openstack/\">OpenStack</a> packaging team.") }}

  {{ render_software("OpenStack",
  "http://openstack.org",
  "/media/images/projects/openstack.png",
  "Since 2011, I'm working on <a href=\"http://openstack.org\">OpenStack</a> and its various components. I contributed to almost every components of it, and set up the packaging for Debian too.") }}

  {{ render_software("CompatibleOne",
  "http://www.compatibleone.org",
  "/media/images/projects/compatibleone.png",
  "I worked on CompatibleOne between 2011 and 2012 and particularly on EZVM and <a href=\"http://occi-wg.org\">OCCI</a>.") }}

  {{ render_software("awesome",
  "http://awesome.naquadah.org",
  "/media/images/projects/awesome.png",
  "I had enough of non working window manager, so I started the <a href=\"http://awesome.naquadah.org\">awesome window manager</a> project in 2007.") }}

  {{ render_software("GNU Emacs",
  "http://www.gnu.org/software/emacs/",
  "/media/images/projects/emacs.png",
  "I use <a href=\"http://www.gnu.org/software/emacs/\">Emacs</a> since 2010, and am a commiter. I wrote some <a href=\"/projects/emacs-packages\">packages</a> like rainbow-mode, google-maps, etc.") }}

  {{ render_software("XCB",
  "http://xcb.freedesktop.org",
  "/media/images/projects/xcb.png",
  "I've contributed and co-maintained the <a href=\"http://xcb.freedesktop.org\">X C bindings</a> since 2008, mentoring for the <a href=\"http://www.google-melange.com/gsoc/project/google/gsoc2009/mceier/2001\">GSoC in 2009</a>. I'm also maintaining <a href=\"http://cgit.freedesktop.org/xcb/xpyb/\">xpyb</a>.") }}

  {{ render_software("startup-notification",
  "http://freedesktop.org/wiki/Software/startup-notification",
  "/media/images/projects/freedesktop.png",
  "I've ported <a href=\"http://freedesktop.org/wiki/Software/startup-notification\">startup-notification</a> to XCB for awesome, and thus I became a de facto maintainer.") }}

  {{ render_software("Gnus",
  "http://www.gnus.org",
  "/media/images/projects/gnus.png",
  "Using Emacs is nice, but reading e-mail with it is better. Therefore I became a <a href=\"http://gnus.org\">Gnus</a> developer in 2010.") }}

  {{ render_software("Org-mode",
  "http://orgmode.org",
  "/media/images/projects/org-mode.png",
  "I like to be organized using Emacs, so I'm an <a href=\"http://orgmode.org\">Org-mode</a> developer since 2010.") }}

  {{ render_software("el-get",
  "https://github.com/dimitri/el-get",
  None,
  "I'm co-maintaining <a href=\"http://github.com/dimitri/el-get\">el-get</a>, an Emacs package installer, with my friend <a href=\"http://blog.tapoueh.org\">Dimitri</a>.") }}

  {{ render_software("PyMuninCli",
  "/projects/pymunincli",
  None,
  "This <a href=\"http://python.org\">Python</a> package allow you to fetch data from <a href=\"http://munin-monitoring.org/\">Munin</a> node daemon.") }}

  {{ render_software("rebuildd",
  "/projects/rebuildd",
  None,
  "If you want to rebuild the whole Debian archive, this is the tool I wrote for.") }}

  {{ render_software("telak",
  "/projects/telak",
  None,
  "Once upon a time, before starting to write <a href=\"http://awesome.naquadah.org\">awesome</a>, I wanted to have pictures from the Internet displayed on my root window and I wrote <a href=\"/projects/telak\">telak</a>.") }}

  {{ render_software("TuxFamily",
  "http://www.tuxfamily.org",
  "/media/images/projects/tuxfamily.png",
  "I managed TuxFamily.org in 2006 as president, and also have been a system administrator between 2002 and 2006.") }}

  {{ render_software("VHFFS",
  "http://vhffs.org",
  "/media/images/projects/vhffs.png",
  "I was one of the author of the <a href=\"http://vhffs.org\">VHFFS</a> platform between 2001 and 2006. It is the platform initiated and used by <a href=\"http://tuxfamily.org\">TuxFamily</a>.") }}

  {{ render_software("VARMon",
  "/projects/varmon",
  None,
  "<a href=\"/projects/varmon/\">VARMon</a> is a text-based tool to monitor DAC 960/1100 based RAID controllers. I took over its maintenance in 2004.") }}

  {{ render_software("sysrqd",
  "/projects/sysrqd",
  None,
  "<a href=\"/projects/sysrqd/\">sysrqd</a> is a very special and very optimized daemon that enables you to use <a href=\"http://fr.wikipedia.org/wiki/Magic_SysRq_key\">magic SysRq keys</a> over IP, via telnet.") }}

  {{ render_software("libparportled",
  "/projects/libparportled",
  None,
  "Ever wanted to light some LEDs using your parallel port? I wanted to so in 2003, so <a href=\"/projects/libparportled\">libparportled</a> was born.") }}
</ul>
