---
title: "Talks"
---

{% set years = {} %}

{% macro render_talk(title, event, link_event, place, country, country_code,
                     year, date,
                     speakers, slides_thumb, slides, video) %}
  <div class="row">
    <div class="col-sm-5">
      <h4>{{ title }}</h4>
      <ul>
        <li><strong>Speakers:</strong> {{ speakers }}</li>
        <li><strong>Event:</strong> <a href="{{ link_event }}">{{ event }}</a></li>
        <li><strong>Place:</strong> {{ place }} – {{ country }}
          <span class="flag-icon flag-icon-{{country_code }}"></span>
        </li>
      </p>
    </div>
    <div class="col-sm-2 no-all-padding hidden-xs">
      <div class="date">
        {% if year not in years %}
	  <div class="year">{{ year }}</div>
          {% do years.update({year: True}) %}
        {% endif %}
	<small>{{ date }}</small>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="slider oneslider">
	<ul>
          {% if slides_thumb %}
	    <li>
              <a href="{{ slides }}"><img src="{{ slides_thumb }}" class="thumbnail"></a>
	    </li>
          {% endif %}
          {% if video %}
	    <li>
              <iframe height="360" width="100%" src="{{ video }}" allowfullscreen></iframe>
	    </li>
          {% endif %}
	</ul>
	<nav class="nav-pages"></nav>
      </div>
    </div>
  </div>
{% endmacro %}

<div class="timeline inforow appear-wrap">

    {{ render_talk("OpenStack Telemetry, project overview and update",
    "OpenStack Summit Boston 2017",
    "https://www.openstack.org/summit/boston-2017/",
    "Boston, MA",
    "USA",
    "us",
    "2017",
    "11th May",
    "Julien Danjou & Gordon Chung",
    "/media/images/talks/thumbnails/OpenStack_Telemetry_Project_Update_Boston_Summit_2017.png",
    "/talks/OpenStack_Telemetry_and_the_10000_Instances.pdf",
    "//www.youtube.com/embed/2BCNKSd0I88") }}

    {{ render_talk("Gnocchi and Collectd for Faster Fault Detection and Maintenance",
    "OpenStack Summit Boston 2017",
    "https://www.openstack.org/summit/boston-2017/",
    "Boston, MA",
    "USA",
    "us",
    "2017",
    "11th May",
    "Julien Danjou & Emma Foley",
    "/media/images/talks/thumbnails/Gnocchi_and_collectd.png",
    "/talks/Gnocchi_and_collectd.pdf",
    "//www.youtube.com/embed/dVV8UMp9jTc") }}

    {{ render_talk("OpenStack Telemetry and the 10,000 Instances",
    "OpenStack Summit Boston 2017",
    "https://www.openstack.org/summit/boston-2017/",
    "Boston, MA",
    "USA",
    "us",
    "2017",
    "9th May",
    "Julien Danjou & Alex Krozs",
    "/media/images/talks/thumbnails/OpenStack_Telemetry_and_the_10000_Instances.png",
    "/talks/OpenStack_Telemetry_and_the_10000_Instances.pdf") }}

    {{ render_talk("Storing metrics at scale with Gnocchi",
    "FOSDEM 2017",
    "https://fosdem.org/",
    "Brussels",
    "Belgium",
    "be",
    "2017",
    "5th February",
    "Julien Danjou",
    "/media/images/talks/thumbnails/storing-metrics-at-scale-with-gnocchi-fosdem-2017.png",
    "/talks/storing-metrics-at-scale-with-gnocchi-fosdem-2017.pdf",
    "//www.youtube.com/embed/ai_yT7z3za0") }}

    {{ render_talk("Storing metrics at scale with Gnocchi",
    "OpenStack Day France 2016",
    "https://openstackdayfrance.fr/",
    "Paris",
    "France",
    "fr",
    "2016",
    "22nd November",
    "Julien Danjou",
    "/media/images/talks/thumbnails/storing-metrics-at-scale-with-gnocchi.png",
    "/talks/storing-metrics-at-scale-with-gnocchi.pdf") }}

    {{ render_talk("How To Work Upstream with OpenStack",
    "OpenStack Summit Barcelona 2016",
    "https://www.openstack.org/summit/barcelona-2016/",
    "Barcelona",
    "Spain",
    "es",
    "2016",
    "25th October",
    "Ashiq Khan, Ryota Mibu, Julien Danjou",
    "/media/images/talks/thumbnails/how-to-work-upstream-with-openstack.png",
    "/talks/how-to-work-upstream-with-openstack.pdf",
    "//www.youtube.com/embed/TPNiO9yAxPo") }}

    {{ render_talk("Gnocchi",
    "Paris Monitoring Meetup #6",
    "http://www.meetup.com/Paris-Monitoring/events/230515751/",
    "Paris",
    "France",
    "fr",
    "2016",
    "18th May",
    "Julien Danjou",
    "/media/images/talks/thumbnails/gnocchi-paris-meetup-monitoring.png",
    "/talks/gnocchi-paris-meetup-monitoring.pdf",) }}

    {{ render_talk("How awesome ended up with Lua and not Guile",
    "FOSDEM 2016",
    "https://fosdem.org/2016/schedule/event/how_awesome_ended_up_with_lua_and_not_guile/",
    "Brussels",
    "Belgium",
    "be",
    "2016",
    "30th January",
    "Julien Danjou",
    "/media/images/talks/thumbnails/How_awesome_ended_with_Lua_and_not_Guile.png",
    "/talks/How_awesome_ended_with_Lua_and_not_Guile.pdf",
    "//www.youtube.com/embed/dbGdG3e_nTY") }}

    {{ render_talk("OpenStack Gnocchi",
    "OpenStack Paris meetup #16",
    "http://www.meetup.com/OpenStack-France/events/225227112/",
    "Paris",
    "France",
    "fr",
    "2015",
    "28th September",
    "Julien Danjou",
    "/media/images/talks/thumbnails/openstack-gnocchi-paris-meetup.png",
    "/talks/openstack-gnocchi-paris-meetup.pdf",
    "//www.dailymotion.com/embed/video/x386ejj") }}

    {{ render_talk("Rethinking Ceilometer metric storage with Gnocchi: Time-series as a Service",
               "OpenStack Summit Paris 2014",
    "https://www.openstack.org/summit/openstack-paris-summit-2014/",
    "Paris",
    "France",
    "fr",
    "2014",
    "5th November",
    "Julien Danjou, Eoghan Glynn, Dina Belova",
    "/media/images/talks/thumbnails/ceilometer-gnocchi.png",
    "/talks/ceilometer-gnocchi.pdf",
    "//www.youtube.com/embed/j5DOz8XOqdg") }}

    {{ render_talk("How The Oslo Program Reduces The Technical Debt",
    "PyCon FR",
    "http://www.pycon.fr/2014/schedule/presentation/31/",
    "Lyon",
    "France",
    "fr",
    "2014",
    "25th October",
    "Julien Danjou",
    "/media/images/talks/oslo-technical-debt.jpg",
    "/talks/oslo-technical-debt.html") }}

    {{ render_talk("OpenStack & PostgreSQL",
    "PostgreSQL Meetup Paris #3",
    "http://www.meetup.com/PostgreSQL-User-Group-Paris/events/173590252/",
    "Paris",
    "France",
    "fr",
    "2014",
    "16th April",
    "Julien Danjou",
    "/media/images/talks/openstack-and-postgresql.png",
    "/talks/openstack-and-postgresql.html") }}

    {{ render_talk("From Ceilometer to Telemetry: not so alarming!",
    "OpenStack in action 4!",
    "https://www.eventbrite.com/e/openstack-in-action-4-tickets-7645801799",
    "Paris",
    "France",
    "fr",
    "2013",
    "5th December",
    "Julien Danjou, Nick Barcet",
    "/media/images/talks/thumbnails/ceilometer-to-telemetry.png",
    "/talks/ceilometer-to-telemetry.pdf",
    "//www.youtube.com/embed/yHJVTa5LyKs") }}

    {{ render_talk("Ceilometer+Heat=Alarming",
    "OpenStack Summit Hong-Kong 2013",
    "http://www.openstack.org/summit/openstack-summit-hong-kong-2013/",
    "Hong-Kong",
    "Hong-Kong",
    "hk",
    "2013",
    "8th November",
    "Nick Barcet, Eoghan Glynn, Julien Danjou",
    "/media/images/talks/thumbnails/CeilometerPlusHeatEqualsAlarming-OpenStackIcehouseSummit.png",
    "/talks/CeilometerPlusHeatEqualsAlarming-OpenStackIcehouseSummit.pdf",
    "//www.youtube.com/embed/-U6cyeWkiSc") }}

    {{ render_talk("Hy, Lisp on Python",
    "PyCon FR",
    "http://www.pycon.fr/2013/",
    "Strasbourg",
    "France",
    "fr",
    "2013",
    "26th October",
    "Julien Danjou",
    "/media/images/talks/thumbnails/hy-lisp-on-python.png",
    "/talks/hy-lisp-on-python.html",
    "//www.youtube.com/embed/-_w4hRObGhY") }}

    {{ render_talk("OpenStack & Debian: How OpenStack and Debian work together",
    "Debian en action, projet, production et cloud",
    "http://www.meetup.com/Technologies-libres-open-source/events/113804162/",
    "Paris",
    "France",
    "fr",
    "2013",
    "22nd May",
    "Julien Danjou",
    "/media/images/talks/thumbnails/OpenStack-and-Debian.png",
    "/media/talks/OpenStack-and-Debian.pdf") }}

    {{ render_talk("Ceilometer: From Metering to Metrics",
    "OpenStack Summit Portland 2013",
    "http://www.openstack.org/summit/portland-2013/",
    "Portland, OR",
    "USA",
    "us",
    "2013",
    "15th April",
    "Julien Danjou, Nick Barcet",
    "/media/images/talks/thumbnails/Ceilometer-presentation-ODS-Havana.png",
    "/talks/Ceilometer-presentation-ODS-Havana.pdf") }}

    {{ render_talk("Measuring OpenStack: the Ceilometer Project",
    "FOSDEM 2013",
    "https://fosdem.org/2013/schedule/event/openstack_ceilometer/",
    "Brussels",
    "Belgium",
    "be",
    "2013",
    "3rd February",
    "Nick Barcet, Eoghan Glynn, Julien Danjou",
    "/media/images/talks/thumbnails/Ceilometer-presentation-FOSDEM-2013.png",
    "/talks/Ceilometer-presentation-FOSDEM-2013.pdf") }}

    {{ render_talk("Ceilometer, The OpenStack Metering Project",
    "OpenStack France Meetup #2",
    "http://www.meetup.com/OpenStack-France/events/84177022/",
    "Paris",
    "France",
    "fr",
    "2012",
    "5th November",
    "Julien Danjou",
    "/media/images/talks/thumbnails/Ceilometer-presentation-OpenStack-France-meetup-%232.png",
    "/talks/Ceilometer-presentation-OpenStack-France-meetup-%232.pdf") }}


    {{ render_talk("Ceilometer, The OpenStack Metering Project",
    "XLCloud Technical Workshop",
    "http://xlcloud.org/bin/view/Events/XLcloud+Technical+Workshop+Thursday+July+26+2012",
    "Paris",
    "France",
    "fr",
    "2012",
    "26th July",
    "Julien Danjou",
    "/media/images/talks/thumbnails/Ceilometer-presentation-XLCloud.png",
    "/talks/Ceilometer-presentation-XLCloud.pdf") }}

</div>
