<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="{{ resource.meta.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>
    {% block title %}
    {{ resource.meta.title|striptags }}
    {% endblock %}
    | {{ site_title }}
    </title>
    {% block favicon %}
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    {% endblock %}
    {% block css %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link href="/media/css/animate.min.css" rel="stylesheet">
    <link href="/media/css/style.min.css" rel="stylesheet">
    <link href="/media/css/style-jd.min.css" rel="stylesheet">
    <link href="/media/css/pygments.min.css" rel="stylesheet">
    <link href="{{ media_url('css/flag-icon.min.css') }}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600,700,900" rel="stylesheet">
    {% endblock %}

    {% if resource.next_by_time %}
    <link href="{{ resource.next_by_time.full_url }}" rel="prev">
    {% endif %}
    {% if resource.prev_by_time %}
    <link href="{{ resource.prev_by_time.full_url }}" rel="next">
    {% endif %}

    {% block rss %}
    <link rel="alternate" type="application/rss+xml"
          href="/blog/index.xml" title="jd:/dev/blog">
    {% endblock %}

    {% if resource.meta.created %}
    <meta property="og:title" content="{{resource.meta.title}}">
    <meta property="og:description" content="{{self.excerpt()|markdown|striptags|truncate(200, end="…")|forceescape}}">
    <meta property="og:image" content="{{site_url}}{{resource.meta.image}}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@juldanjou"/>
    <meta name="twitter:image:src" content='{{site_url}}{{resource.meta.image}}'/>
    <meta name="twitter:title" content="{{resource.meta.title}}"/>
    <meta name="twitter:domain" content="julien.danjou.info"/>
    <meta name="twitter:description" content="{{
                                              self.excerpt()|markdown|striptags
                                              |truncate(200, end="…")|forceescape }}"/>
    {% endif %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ google_analytics_id }}', 'auto', {'allowLinker': true});
      ga('send', 'pageview');
    </script>
    {% endblock %}
  </head>
  <body class="archive">
    {% block body %}
    <!-- HEADER -->
    <header class="header header-dark no-sticky">
      <nav class="navbar container">
	<div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">
            <img src="/media/images/jd.jpg"
                 class="img-circle img-thumbnail"
                 alt="Julien Danjou">
            Julien Danjou
          </a>
        </div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav pull-right">
            {% for menu_item in site.content.child_nodes|sort(attribute='name') %}
            {% if menu_item.name != "media" %}
            <li{% if menu_item.full_url in resource.full_url %} class="active"{% endif %}>
              {% if menu_item.meta.url %}
              <a href="{{ menu_item.meta.url }}">
              {% else %}
              <a href="{{ menu_item.full_url }}">
              {% endif %}
                {% if menu_item.meta.icon %}
                <span class="glyphicon glyphicon-{{menu_item.meta.icon}}"></span>
                {% endif %}
                {{ menu_item.meta.title }}
              </a>
            </li>
            {% endif %}
            {%- endfor %}
          </ul>
	</div>
      </nav>
    </header>
    <!-- /.header -->

    <!-- WRAPPER -->
    <div class="wrapper">

      {% block wrapper %}
      {% if resource.meta.image %}
      <div class="headcontent headcontent-md bg-sl-center overlay"
           style="background-image: url('{{ resource.meta.image }}');">
	<div class="container inforow">
	  <div class="col-sm-10">
	    <h1 class="white">
      {% else %}
      <div class="headcontent">
        <div class="container">
	  <div class="col-sm-10">
	    <h1>
      {% endif %}
      {% block page_title %}
      {{ resource.meta.title }}
      {% endblock %}
            </h1>
	  </div>
	  <div class="col-sm-2 text-right">
	    <ol class="breadcrumb breadcrumb-arrow">
              {% for node in resource.node.rwalk()|reverse %}
              {% if not loop.first %}
              <li{% if loop.last %} class="active"{% endif %}>
                <a href="{{ node.full_url }}">
                  {% if node.meta.icon and loop.index == 2 %}
                  <span class="glyphicon glyphicon-{{node.meta.icon}}"></span>
                  {% endif %}
                  {{node.name|capitalize }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
	    </ol>
          </div>
        </div>
      </div>

      {% block container %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      {% endblock %}
      {% endblock wrapper %}
    </div>
    <!-- /.wrapper -->

    <!-- FOOTER -->
    <footer class="footer footer-dark">
      <div class="container">

	<hr />

	<div class="row">
	  <div class="col-sm-6">
	    <p class="copyright">
              Created by <a href="{{ author.url }}">{{ author.name }}</a> using
              <a href="https://github.com/hyde/hyde">Hyde</a>.
              <a href="https://github.com/jd/julien.danjou.info">Sources are
                available</a>.
              This work is licensed under a
              <a rel="license"
                 href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative
                Commons Attribution-ShareAlike 3.0 Unported License</a>.
              <br>
              <br>
              <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                <img alt="Creative Commons License" style="border-width:0"
                     src="/media/images/creative-commons.png">
              </a>
            </p>
	  </div>
	  <div class="col-sm-6 text-right">
	    <nav>
	      Follow Me
              <div class="addthis_horizontal_follow_toolbox"
                   style="float: right;">
              </div>
	    </nav>
	  </div>
	</div>
      </div>
    </footer>
    <!-- /.footer -->

    <!-- ScrollTop -->
    <a href="#" class="scrolltop"><i></i></a>

    {% endblock body %}

    {% block js %}
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/media/js/plugins.min.js"></script>
    <script src="/media/js/custom.min.js"></script>
    <script src="{{ media_url('js/bootstrap-tab-bookmark.js') }}"></script>

    <script type="text/javascript">
	var $mcGoal = {'settings':{'uuid':'53ceb9eb499d62f6ee37c8167','dc':'us7'}};
	(function() {
		 var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
		sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
	})();
    </script>

    {% endblock %}

  </body>
</html>
