<!DOCTYPE html>
<html lang="en">
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="{{ resource.meta.charset }}">
    <title>
    {% block title %}
    {{ resource.meta.title }} | {{ site_title }}
    {% endblock %}
    </title>
    <meta name="author" content="{{ resource.meta.author }}">

    <link type="application/atom+xml" rel="alternate" href="/blog/index.xml"/>

    {% block basecss %}
    <link href="{{ media_url('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/style.css') }}" rel="stylesheet">
    <link href="{{ media_url('js/google-code-prettify/prettify.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    {% endblock basecss %}
    {% block css %}{% endblock %}

    {% block headjs %}
    {% endblock headjs %}

    {% if resource.next_by_time %}
    <link href="{{ resource.next_by_time.full_url }}" rel="prev">
    {% endif %}

    {% if resource.prev_by_time %}
    <link href="{{ resource.prev_by_time.full_url }}" rel="next">
    {% endif %}


    {% block endhead %}{% endblock endhead %}
  </head>

  <body onload="prettyPrint()">

    {% block body %}

    <div class="navbar navbar-fixed-top">
      {% block navbar %}
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ site_title }}</a>
          <ul class="nav">
            <li{% if resource.node == site.content %} class="active"{% endif %}>
              <a href="/"><i class="icon-{{site.content.meta.icon}} icon-white"></i> Bio</a>
            </li>
            {% for menu_item in site.content.child_nodes|sort(attribute='name') %}
            {% if menu_item.name != "media" %}
            <li{% if menu_item.full_url in resource.full_url %} class="active"{% endif %}>
              <a href="{{ menu_item.full_url }}">
              {% if menu_item.meta.icon %}
              <i class="icon-{{menu_item.meta.icon}} icon-white"></i>
              {% endif %}
              {{ menu_item.meta.title|capitalize }}
              </a>
            </li>
            {% endif %}
            {%- endfor %}
          </ul>
        </div>
      </div>
      {% endblock navbar %}
    </div>

    <div class="container" id="top">
      {% block container %}

      <div class="content">
        {# This is where the bulk of the content will go #}
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        {% block footer %}
        <p>Created by <a href="{{ author.url }}">{{ author.name }}</a> using <a href="https://github.com/hyde/hyde">Hyde</a>. <a href="http://git.naquadah.org/?p=~jd/julien.danjou.info.git;a=summary">Sources</a>.</p>
        {% endblock footer %}
      </footer>

      {% endblock container %}
    </div> <!-- /container -->

    {% endblock body %}

    {% block basejs %}
    <!-- Javascript at the bottom for fast page loading -->
    {% block jquery %}
    <script src="{{ media_url('js/jquery-1.7.1.min.js') }}"></script>
    {% endblock jquery %}

    {% block bootstrap_scripts %}
    <script src="{{ media_url('js/bootstrap-transition.js') }}"></script>
    <script src="{{ media_url('js/bootstrap-tab.js') }}"></script>
    <script src="{{ media_url('js/bootstrap-tab-bookmark.js') }}"></script>
    {% endblock bootstrap_scripts %}

    {% block scripts %}
    <script src="{{ media_url('js/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ media_url('js/google-code-prettify/lang-lua.js') }}"></script>
    <script src="{{ media_url('js/google-code-prettify/lang-lisp.js') }}"></script>
    <script src="{{ media_url('js/socialite/socialite.js') }}"></script>
    <script>$(Socialite.load);</script>
    {% endblock scripts %}

    {% block analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ google_analytics_id }}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock analytics %}

    {% block endjs %}{% endblock endjs %}

    {% endblock basejs %}

    <div id="banner"><a href="/freelance">Hire me!</a></div>

  </body>
</html>
