{% extends "base.j2" %}

{% block js %}
  {{ super() }}

  <script type="text/javascript">
    var disqus_shortname = 'jdanjou';

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
{% endblock %}

{% macro render_blog_listing(walker) %}
  {% for res in walker %}
    <div class="container post format-image margin-bottom">
      <div class="entry">
	<header class="entry-header">
	  <h2><a href="{{ res.full_url }}">{{ res.meta.title }}</a></h2>
	  <div class="meta">
	    <small><i class="fa fa-calendar"></i>{{res.meta.created.strftime('%A %d %B %Y') }}</small>
	    <small>
	      <i class="fa fa-folder"></i>
              {% for tag in res.meta.tags %}
                <a href="/blog/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
              {% endfor %}
	    </small>
            <small>
            <a href="{{ site_url }}{{ res.full_url }}#disqus_thread">
            <i class="fa fa-comment"></i> Comments
            </a>
            </small>
	  </div>
	</header>
	<div class="entry-content">
          {% if res.meta.image %}
            <a href="{{ res.full_url }}">
              <div class="blog-title-image" style="background-image: url('{{ res.meta.image }}');">
              </div>
            </a>
          {% endif %}
          {% refer to res.relative_deploy_path as post %}
          {{ post.excerpt|markdown }}
	  <a href="{{ res.full_url }}" class="btn btn-default white">Read More</a>
	</div>
      </div>
    </div>
    <hr>
  {% endfor %}
{% endmacro %}

{% block content %}
  <div class="col-md-9 col-sm-7 posts">
    {{ render_blog_listing(post_list) }}

    <div class="container pagination-bar text-center">
      <ul class="pagination">
        {% if resource.page.previous  %}
          <li><a href="{{ resource.page.previous.resource.full_url }}" class="prev"></a></li>
        {% endif %}
        {% for page in resource.pages %}
          <li{% if page == resource.page %} class="active"{% endif %}><a href="{{ page.resource.full_url }}">{{ page.number }}</a></li>
        {% endfor %}
        {% if resource.page.next  %}
          <li><a href="{{ resource.page.next.resource.full_url }}" class="next"></a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <aside class="col-md-3 col-sm-5 sidebar m-center">
    <!-- .widget -->
    <div class="widget">
      <h4>Search</h4>
      <div>
        <script>
  (function() {
    var cx = '006910036948126851766:llmxirdunoc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
        </script>
        <gcse:search></gcse:search>
      </div>
      <h4>Tags</h4>
      <ul class="category-list flat">
        {% set tag_dict = {} %}
        {% for tag, meta in site.tagger.tags %}
          {% do tag_dict.update({meta:meta.resources|count})%}
        {% endfor %}
        {% for meta, post_count in tag_dict|dictsort(by='value')|reverse %}
        <li>
	  <a{% if tag == meta %} class="active"{% endif %}
               href="/blog/tags/{{ meta.name }}">
               {{ meta.name }}
            <span class="text-right pull-right">
              {{(post_count) }}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- /.widget -->
  </aside>

{% endblock %}
