{% extends "base.j2" %}

{% block container %}
  <div class="container post">
    <header class="row entry-header">
      <div class="col-sm-6 meta">
	<small><i class="fa fa-calendar"></i>{{ resource.meta.created.strftime('%A %d %B %Y') }}</small>
	<small>
          <i class="fa fa-folder"></i>
          {% for tag in resource.meta.tags %}
            <a href="/blog/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
          {% endfor %}
	</small>
      </div>
      <div class="col-sm-6">
        <a class="socialite twitter-share" href="http://twitter.com/share"
           data-text="{{resource.meta.title}}" data-via="juldanjou"
           data-count="vertical" data-url="{{site_url}}{{resource.full_url}}"
           rel="nofollow" target="_blank">
           Share on Twitter
        </a>
        <a class="socialite googleplus-one"
           href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{site_url}}{{resource.full_url}}"
           rel="nofollow" target="_blank" data-size="tall"
           data-url="{{site_url}}{{resource.full_url}}">
           Share on Google+
        </a>
        <a class="socialite linkedin-share"
           href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site_url}}{resource.full_url}}&amp;title={{resource.meta.title}}"
           data-counter="top"
           data-url="{{site_url}}{{resource.full_url}}" rel="nofollow"
           target="_blank">
           Share on LinkedIn
        </a>
        <a class="socialite facebook-like"
           href="http://www.facebook.com/sharer.php?u={{site_url}}{{resource.full_url}}&amp;t={{resource.meta.title}}"
           data-send="false"
           data-layout="box_count" data-width="60" data-show-faces="true"
           rel="nofollow" target="_blank">
           Share on Facebook
        </a>
      </div>
    </header>
    <div class="entry-content padding-bottom">
      {% filter markdown -%}
        {% block article %} {% endblock %}
      {%- endfilter %}
    </div>

    {% for tag in resource.meta.tags if tag == "Python" %}
      <div id="thgtp-form" class="row well text-center">
        <div class="col-sm-10">
          <h3>
            <a href="/books/the-hacker-guide-to-python">
              Check out <strong>The Hacker's Guide to Python</strong>!
            </a>
          </h3>
          <p>
            This is a book I wrote talking about designing Python applications, state
            of the art, advice to apply when building your application, various
            Python tips, etc. Interested?
            <br>
            <br>
            <a role="button" class="btn btn-default"
               href="/books/the-hacker-guide-to-python">Check it out.</a>
          </p>
        </div>
        <div class="col-sm-2 text-center">
          <a href="/books/the-hacker-guide-to-python">
            <img src="/media/images/the-hacker-guide-to-python.png"
                 alt="The Hacker's Guide to Python">
          </a>
        </div>
      </div>

      <div class="padding"></div>
    {% endfor %}
  </div>

  <div id="subscribe" class="newsletter bg-sl-center overlay overlay-light"
       style="background-image: url('/media/images/photo-notepad.jpg');">
    <div class="container inforow middle">
      <div class="col-sm-6">
	<p>Get notified of my next blog post</p>
      </div>
      <div class="col-sm-6">
	<div id="feedback-form">
	  <form action="//danjou.us7.list-manage.com/subscribe/post?u=53ceb9eb499d62f6ee37c8167&amp;id=d80a8d25c4" method="post">
	    <input name="EMAIL" placeholder="Enter your email address" required type="email">
	    <button type="submit" class="btn btn-default">Subscribe</button>
	  </form>
	  <div class="success-block"></div>
	</div>
      </div>
    </div>
  </div>

  <div class="container padding-top">
    <nav class="nav-single clearfix">
      {% if resource.next_by_time %}
        <div class="nav-previous text-left">
          <a href="{{ resource.next_by_time.full_url }}">
	    <small>Previous Post</small>
	    <span>{{ resource.next_by_time.meta.title }}</span>
          </a>
        </div>
      {% endif %}
      {% if resource.prev_by_time %}
        <div class="nav-next text-right">
          <a href="{{ resource._by_time.full_url }}">
	    <small>Next Post</small>
	    <span>{{ resource.prev_by_time.meta.title }}</span>
          </a>
        </div>
      {% endif %}
    </nav>
  </div>
{% endblock %}
