{% extends "base.j2" %}

{% block js %}
  {{ super () }}

  <script type="text/javascript"
          src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4eaacbb674bf94f0"
          async="async">
  </script>

  <script type="text/javascript">
    var disqus_shortname = 'jdanjou';

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}

{% block container %}
  <div class="container post">
    <header class="entry-header entry-header-blog-post">
      <div class="meta">
        <small><i class="fa fa-calendar"></i>{{resource.meta.created.strftime('%A %d %B %Y') }}</small>
        <small>
          <i class="fa fa-folder"></i>
          {% for tag in resource.meta.tags %}
            <a href="/blog/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
          {% endfor %}
        </small>
        <small>
          <a href="{{ site_url }}{{ resource.full_url }}#disqus_thread">
            <i class="fa fa-comment"></i> Comments
          </a>
        </small>
        <small><i class="fa fa-user-plus"></i> Follow</small>
        <div class="addthis_horizontal_follow_toolbox"
             style="margin-top: -10px;
             margin-left: -20px;">
        </div>
      </div>
    </header>
    <div class="entry-content padding-bottom">
      {% mark article %}
      {% filter markdown -%}
        {% block article %} {% endblock %}
      {%- endfilter %}
      {% endmark %}
    </div>

    {% for tag in resource.meta.tags if tag == "Python" %}
    <script src="https://app.convertkit.com/landing_pages/40155.js"></script>
    {% else %}
    <script src="https://app.convertkit.com/landing_pages/40222.js"></script>
    {% endfor %}
  </div>

  <div class="container" id="disqus_thread"></div>

  <script type="text/javascript">
    var disqus_shortname = 'jdanjou';

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by
      Disqus.</a></noscript>

  <div class="addthis_recommended_horizontal"></div>

  <div class="container padding-top">
    <nav class="nav-single clearfix">
      {% if resource.next_by_time %}
        <div class="nav-previous text-left">
          <a href="{{ resource.next_by_time.full_url }}">
	    <small>Previous Post</small>
	    <span>{{ resource.next_by_time.meta.title }}</span>
          </a>
        </div>
      {% endif %}
      {% if resource.prev_by_time %}
        <div class="nav-next text-right">
          <a href="{{ resource.prev_by_time.full_url }}">
	    <small>Next Post</small>
	    <span>{{ resource.prev_by_time.meta.title }}</span>
          </a>
        </div>
      {% endif %}
    </nav>
  </div>
{% endblock %}
