{# Columns template #}

{% extends "standard.j2" %}

{% block basecss %}
{{ super() }}
<link href="{{ media_url('css/columns.css') }}" rel="stylesheet">
{% endblock basecss %}


{% block article %}

<div class="row">
  <div class="span2">
    {% block sidebar %}{% endblock %}
  </div>
  <div class="span10">
      {% filter markdown -%}
      {% block main %}{% endblock %}
      {%- endfilter %}
  </div>
</div>

{% endblock article %}



