{% macro render_blog_listing(walker) %}
<div>
  {% for res in walker %}
  <div class="posts-list">
    <h4>
    <span class="label label-info">
      {{ res.meta.created.strftime('%d %b %Y') }}</span>
      <a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h4>
    {% refer to res.relative_deploy_path as post %}
    {{ post.excerpt|markdown|typogrify }}
    <a href="{{ content_url(res.url) }}">Read more…</a>
  </div>
  {% endfor %}
</div>
{% endmacro %}
