{% macro render_blog_listing(walker) %}
<ul class="clear unstyled">
{% for res in walker %}
<li class="post-summary">
<article>
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
<i class="icon-calendar"></i>
{{ res.meta.created.strftime('%d %b %Y') }}
</time>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
{% refer to res.relative_deploy_path as post %}
{{ post.excerpt|markdown|typogrify }}
</article>
</li>
{% endfor %}
</ul>
{% endmacro %}
