{% extends "base.j2" %}

{% block content %}

{% if resource.meta.title %}
<header class="page-header">
  {% block header %}
  <h1>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    <small>
    {% block page_subtitle %}
    {% if resource.meta.subtitle %}
    {{ resource.meta.subtitle }}
    {% endif %}
    {% endblock %}
    </small>
  </h1>
  {% if resource.meta.created %}
  <time class="label label-info" pubdate datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%A<br>%d %B %Y') }}
  </time>
  {% endif %}
  {% endblock header %}
</header>
{% endif %}

{% block prearticle %}
{% endblock prearticle %}

{% if resource.meta.tags %}
<div class="taglist">
<span class="glyphicon glyphicon-tags"></span>
{% for tag in resource.meta.tags %}
<a href="{{ content_url('blog/tags/'~tag~'.html') }}"><span class="label label-default small">{{tag}}</span></a>
{% endfor %}
</div>
{% endif %}

{% block article %}
<article class="page-content">
  {% block premain %}
  {% mark article -%}
  {% block main %}{% endblock %}
  {%- endmark %}
  {% endblock %}
</article>

{% endblock article %}

{% block postarticle %}
{% endblock postarticle %}

{% endblock content %}
