{% extends "base.j2" %}

{% block content %}

{% if resource.meta.title %}
<header class="page-header">
  {% block header %}
  <h1>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    <small>
    {% block page_subtitle %}
    {% if resource.meta.subtitle %}
    {{ resource.meta.subtitle }}
    {% endif %}
    {% endblock %}
    </small>
  </h1>
  {% endblock header %}
</header>
{% endif %}

{% block prearticle %}
{% endblock prearticle %}


{% block article %}

<article class="page-content">
  {% if resource.meta.created %}
  <time class="label label-info" pubdate datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    {{ resource.meta.created.strftime('%A<br>%d %B %Y') }}
  </time>
  {% endif %}
  {% block premain %}
  {% mark article -%}
  {% block main %}{% endblock %}
  {%- endmark %}
  {% endblock %}
  {% if resource.meta.tags %}
  <div class="taglist">
    <i class="icon-tags"></i> Tags:
    {% for tag in resource.meta.tags %}
    <a href="{{ content_url('blog/tags/'~tag~'.html') }}"><span class="label label-inverse small">{{tag}}</span></a>
    {% endfor %}
  </div>
  {% endif %}
</article>

{% endblock article %}

{% block postarticle %}
{% endblock postarticle %}

{% endblock content %}
