{% extends "base.j2" %}

{% if resource.name != "index.html" %}
{% block headjs %}
{{ super() }}
      <script type="text/javascript">
        /* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
      </script>
{% endblock %}
{% endif %}

{% block basecss %}
{{ super() }}
<link href="{{ media_url('css/columns.css') }}" rel="stylesheet">
{% endblock basecss %}

{% block content %}

<header class="page-header">
  {% block header %}
  <h1>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    {% if resource.meta.subtitle %}<small>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</small>{% endif %}
  </h1>
  {% endblock header %}
</header>

{% block article %}
{% if resource.node.parent and resource.node.parent.parent %}
<ul class="breadcrumb">
  {% for node in resource.node.rwalk()|reverse %}
    {% if node != site.content %}
    <li>
      <a href="{{node.full_url}}">{{ node.meta.title }}</a> <span class="divider">/</span>
    {% endif %}
    </li>
  {% endfor %}
  {% if resource.name != "index.html" %}
  <li class="active">
    <a href="{{resource.full_url}}">{{ resource.meta.title }}</a>
  </li>
  {% endif %}
</ul>
  {% endif %}

{% if resource.meta.created %}
  {% if resource.next_by_time or resource.prev_by_time%}
  <nav>
  <ul class="pager">
  {% endif %}
  {% if resource.next_by_time %}
  <li class="previous">
    <a rel="prev" href="{{ resource.next_by_time.full_url }}">
        <i class="icon-arrow-left"></i>
        {{resource.next_by_time.meta.title}}
    </a>
  </li>
  {% endif %}
  {% if resource.prev_by_time %}
  <li class="next">
    <a rel="next" href="{{ resource.prev_by_time.full_url }}">
           {{resource.prev_by_time.meta.title}}
           <i class="icon-arrow-right"></i>
    </a>
  </li>
  {% endif %}
  {% if resource.next_by_time or resource.prev_by_time%}
  </ul>
  </nav>
  {% endif %}
{% endif %}

<article class="page-content">
  {% if resource.meta.created %}
  <time class="label label-info" pubdate datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
  <i class="icon-calendar icon-white"></i>
  {{ resource.meta.created.strftime('%A %d %B %Y') }}
  </time>
  {% endif %}
  {% block premain %}
  {% mark article -%}
  {% block main %}{% endblock %}
  {%- endmark %}
  {% endblock %}
  {% if resource.meta.tags %}
  <div class="taglist">
  <i class="icon-tags"></i> Tags:
  {% for tag in resource.meta.tags %}
      <a href="{{ content_url('blog/tags/'~tag~'.html') }}"><span class="label label-inverse small">{{tag}}</span></a>
  {% endfor %}
  </div>
  {% endif %}
</article>

{% if resource.name != "index.html" %}
<div class="social">
<a class="FlattrButton" style="display:none;" href="{{site_url}}{{resource.full_url}}"
    title="{{resource.meta.title}}"
    rev="flattr;button:compact;uid:jd"></a>
<a class="socialite twitter" href="http://twitter.com/share" data-text="{{resource.meta.title}}" data-via="juldanjou" data-count="horizontal" data-url="{{site_url}}{{resource.full_url}}" rel="nofollow" target="_blank">Share on Twitter</a>
<a class="socialite googleplus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{site_url}}{{resource.full_url}}" rel="nofollow" target="_blank" data-size="medium" data-url="{{site_url}}{{resource.full_url}}">Share on Google+</a>
<a class="socialite linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site_url}}{resource.full_url}}&amp;title={{resource.meta.title}}" data-counter="horizontal" data-url="{{site_url}}{{resource.full_url}}" rel="nofollow" target="_blank">Share on LinkedIn</a>
<a class="socialite facebook" href="http://www.facebook.com/sharer.php?u={{site_url}}{{resource.full_url}}&amp;t={{resource.meta.title}}" data-action="recommend" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank">Share on Facebook</a>
</div>
{% endif %}

{% endblock article %}

{% endblock content %}
