---
title: "Freelance"
default_block: None
---
{% block main %}
<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#services" data-toggle="pill"><i class="icon-wrench"></i> Services</a></li>
    <li><a href="#cv" data-toggle="pill"><i class="icon-user"></i> Curriculum vitae</a></li>
    <li><a href="#references" data-toggle="pill"><i class="icon-th-list"></i> References</a></li>
    <li><a href="#contact" data-toggle="pill"><i class="icon-envelope"></i> Contact</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="services">
      <div class="row">
        <div class="span8">
          <div class="well" id="intro">
            <p class="mediumfont">
              I have participated in a lot of <a href="/projects">Free
                Software projects</a> for the last years and worked for a
                lot of different companies.
            </p>
            <p class="mediumfont">
              This is why I now work as a <strong>freelance engineer and
                developer</strong> to provide <strong>consulting, audit,
                expertise, training, development and support on Free
                Software based projects</strong>.
            </p>
            <p class="mediumfont">
              One of the keys of my services is my implication and ability
              to work with upstream software authors and teams. Usually, the
              developments I do are done with upstream merging on mind,
              allowing them to be maintained by the community later.
              I have a good knowledge of the Free Software and Open Source
              ecosystem.
            </p>
          </div>
        </div>
        <div class="span4">
          <div id="references-carousel" class="carousel slide">
            <h4>References</h4>
            <div class="carousel-inner">
              {% for reference in site.context.references %}
              <div class="{% if loop.first %}active {% endif %}item">
                <a href="{{reference.url}}"><img src="{{reference.logo}}"></a>
                <div class="carousel-caption">
                  <h4>{{reference.name}}</h4>
                  <p>
                    {{reference.text}}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>

            <a class="carousel-control left" href="#references-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#references-carousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      </div>
      <div>
        <div class="row" id="speech">
          <div class="span3">
            <h4>Software development</h4>
            <img src="/media/images/python.png">
            Whether you're thinking about developing something new,
            enhancing an old project or building a new one using
            <strong>Free Software or Open Source technologies</strong>, I
            can help you. Especially if it's C or Python based!
          </div>
          <div class="span3">
            <h4>Linux System Expertise</h4>
            <img src="/media/images/tux.png">
            Being a <strong>Debian Developer for more than 10 years</strong>,
            I know a bunch of things about Linux systems and development on
            this platform. And I did years of system administration and
            technical support on this.
          </div>
          <div class="span3">
            <h4>Cloud computing</h4>
            <img src="/media/images/projects/openstack.png">
            Going to the cloud? I already built an entire cloud platform and
            contribute to the <strong>OpenStack development</strong>. My
            expertise can help you doing good choices, deploying or
            enhancing your own cloud services.
          </div>
          <div class="span3">
            <h4>Team player</h4>
            <img src="/media/images/world.jpg">
            I already worked for several companies, schools, R&D and
            international software projects, on site or remotely. With teams
            of different size and culture. I've no problem integrating,
            working with any team, if there's one.<br>And yes, I speak
            English!
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact">
      <p>
        You can contact me <a href="mailto:julien@danjou.info">directly by
          e-mail</a> or via this form.
      </p>
      <form name="contact" class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="lastname" >Lastname</label>
          <div class="controls">
            <input type="text" id="lastname" name="lastname"/>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="firstname">Firstname</label>
          <div class="controls">
            <input type="text" id="firstname" name="firstname"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="company">Company</label>
          <div class="controls">
            <input type="text" id="company" name="company"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="phone">Phone</label>
          <div class="controls">
            <input type="text" id="phone" name="phone"/>
          </div>
        </div>

        <div class="control-group" id="control-group-mail">
          <label class="control-label" for="mail">E-mail address</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input type="email" id="mail" name="mail"/>
            </div>
          </div>
        </div>

        <div class="control-group" id="control-group-message">
          <label class="control-label" for="message">Message</label>
          <div class="controls">
            <textarea class="input-xlarge" name="message" id="message" rows="12"></textarea>
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-primary" type="submit" onclick="return validateForm()">
            <i class="icon-envelope icon-white"></i> Send
          </button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="cv">
      {% include "freelance/cv.html" %}
    </div>
    <div class="tab-pane fade" id="references">
      {% include "freelance/references.html" %}
    </div>
  </div>
</div>

{% endblock main %}

{% block endjs %}
<script type="text/javascript">
$(function () {
  $("[name=message]").focusout(validateMessage);
  $("[name=mail]").focusout(validateMail);
});

function addAlert(field, msg) {
  removeAlert(field);
  $("[id=control-group-" + field + "] > div[class=controls]").append("<div class=\"help-inline error\" id=\"alert-for-" + field +"\">" + msg + "</div>");
  $("[id=control-group-" + field + "]").addClass("error");
}

function removeAlert(field) {
  $("[id=alert-for-" + field + "]").detach();
  $("[id=control-group-" + field + "]").removeClass("error");
  $("[id=control-group-" + field + "]").removeClass("success");
}

function validateMail() {
  if(! /.+@.+/.test($("[name=mail]")[0].value)) {
    addAlert("mail", "E-mail address seems invalid.");
    return false;
  }
  removeAlert("mail");
  $("[id=control-group-mail]").addClass("success");
  return true;
}

function validateMessage() {
  if($("[name=message]")[0].value.length < 10) {
    addAlert("message", "Message is too short.");
    return false;
  }
  removeAlert("message");
  $("[id=control-group-message]").addClass("success");
  return true;
}

function checkMailSent(data) {
  $("[id=form-submit-alert]").detach();
  if(data == "OK")
  {
    $("[name=contact]").prepend("<div id=\"form-submit-alert\" class=\"alert alert-success\"><h4 class=\"alert-heading\">Mail sent!</h4> I'll get back to you in the next 48 hours, thanks.</div>");

    _gaq.push(['_trackEvent', 'Contact', 'MailSend', 'OK']);
    $.getScript("http://www.googleadservices.com/pagead/conversion.js");
  }
  else
  {
    $("[name=contact]").prepend("<div id=\"form-submit-alert\" class=\"alert alert-error\"><h4 class=\"alert-heading\">Mail not sent!</h4> :-(</div>");
   $("button").removeAttr("disabled");
   _gaq.push(['_trackEvent', 'Contact', 'MailSend', 'ERROR']);
  }
}

function validateForm()
{
  if(validateMail() && validateMessage())
  {
    $.post("/mail.php", $("form").serialize(), checkMailSent);
    $("button").attr("disabled", true);
  }
  return false;
};
</script>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1011816067;
var google_conversion_language = "fr";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "zp6RCLWv2AEQg6284gM";
var google_conversion_value = 0;
/* ]]> */
</script>

<script type="text/javascript">
bootstrap_tab_bookmark();
$('.carousel').carousel()
</script>

{% endblock %}
