---
title: References
extends:
---
<div class="well mediumfont">
  This are customers I worked or did missions for in the last years.
</div>

{% macro render_ref(url, logo, text) %}
  <div class="span3">
    <div class="reference listing-entry">
      <h2>
        {% if url %}
        <a href="{{ url }}">
        {% endif %}
          <img class="listing-logo" src="{{logo}}">
        {% if url %}
        </a>
        {% endif %}
      </h2>
      <div class="caption">
        <p>
        {{ text|typogrify }}
        </p>
      </div>
    </div>
  </div>
{% endmacro %}

<div class="clear row">
  {{ render_ref("http://enovance.com",
  "/media/images/cv/enovance.png",
  "Lead developer for <a href=\"http://enovance.com\">eNovance</a>, built the <a href=\"http://enocloud.com\">eNocloud</a> project from scratch using <a href=\"http://openstack.org\">OpenStack</a>.") }}
  {{ render_ref("http://www.lwm-agence.com/",
  "/media/images/lwm.jpg",
  "VoIP set-up, LAMP platform system audit and administration.") }}
  {{ render_ref("http://www.meetic.fr/",
  "/media/images/meetic.jpg",
  "<a href=\"http://git-scm.com\">Git</a> expertise, development workflow consulting.") }}
  {{ render_ref("http://www.hermes.com",
  "/media/images/hermes.png",
  "Set-up of fail-over and load-balanced HTTP proxy using <a href=\"http://www.squid-cache.org\">Squid</a>, replicated virtualization server using <a href=\"http://libvirt.org/\">libvirtd</a> for HQ.") }}
  {{ render_ref("http://paris.fr",
  "/media/images/mairiedeparis.png",
  "Scalable LAMP hosting on cloud platform for the <a href=\"http://nuitblanche2010.paris.fr/\">Nuit Blanche 2010</a> and <a href=\"http://www.paris-plages.fr\">Paris-Plages</a> websites.") }}
  {{ render_ref("http://www.armines.net/",
  "/media/images/armines.gif",
  "Management of the <a href=\"http://lheo.org\">LHEO project</a>, set-up of a fail-over Web platform.") }}
  {{ render_ref(None,
  "/media/images/europcar.png",
  "Development of a custom Debian GNU/Linux distribution for thin-client, with inventoring agent.") }}
  {{ render_ref("http://www.lesartsdecoratifs.fr/",
  "/media/images/lesartsdecoratifs.gif",
  "Linux system audits and administration.") }}
  {{ render_ref("http://www.orc.fr/",
  "/media/images/orc.gif",
  "Linux system administration, infrastructure virtualization.") }}
  {{ render_ref("http://www.foncia.fr/",
  "/media/images/foncia.jpg",
  "Linux system administration, development of automation scripts and custom system administration applications .") }}
  {{ render_ref("http://www.gardemedicaledeparis.org",
  "/media/images/gmp.jpg",
  "IPBX set-up and programming to automate calls dispatch using <a href=\"http://asterisk.org\">Asterisk</a>.") }}
  {{ render_ref("http://www.msh-paris.fr/",
  "/media/images/msh.gif",
  "<a href=\"http://debian.org\">Debian</a> GNU/Linux servers farm administration.") }}
  {{ render_ref("http://www.mairie-pierrefitte93.fr/",
  "/media/images/pierrefitte-sur-seine.png",
  "<a href=\"http://debian.org\">Debian</a> GNU/Linux servers and firewall set-up and administration.") }}
  {{ render_ref("http://www.lafemis.fr/",
  "/media/images/femis.jpg",
  "E-mail server with spam and virus filters set-up and administration, using Postfix and amavisd.") }}
</div>
