---
extends:
---
RewriteEngine On
RewriteBase /books

RewriteCond %{HTTP_COOKIE} thgtp-pre-version=([^;])
RewriteRule ^the-hacker-guide-to-python$ %{REQUEST_FILENAME}-%1.html [L]

# No cookie yet
RewriteCond %{HTTP_COOKIE} !thgtp-pre-version=([^;]+)
RewriteCond %{TIME_SEC} [02468]$
RewriteRule ^the-hacker-guide-to-python$ %{REQUEST_FILENAME}-a.html [cookie=thgtp-pre-version:a:julien.danjou.info,L]

RewriteCond %{HTTP_COOKIE} !thgtp-pre-version=([^;]+)
RewriteCond %{TIME_SEC} [13579]$
RewriteRule ^the-hacker-guide-to-python$ %{REQUEST_FILENAME}-b.html [cookie=thgtp-pre-version:b:julien.danjou.info,L]
