---
title: The Hacker's Guide to Python
subtitle: <br>Learn everything you need to build a successful Python project.
default_block: None
---
{% block endhead %}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@juldanjou"/>
<meta name="twitter:image:src" content='{{site_url}}{{resource.meta.image}}'/>
<meta name="twitter:title" content="{{resource.meta.title}}"/>
<meta name="twitter:domain" content="julien.danjou.info"/>
<meta name="twitter:description" content="{{
                                          self.excerpt()|markdown|striptags
                                          |truncate(200, end="…")|forceescape }}"/>
{% endblock endhead %}

{% block basejs %}
{{ super() }}
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
{% endblock basejs %}

{% block css %}
<style type="text/css">
  li.book-package {
    margin-bottom: 10px;
  }

  .headshot {
    margin: auto;
    max-width: 150px;
  }

  .book-panel {
    margin-right: -5px;
  }

  header.page-header {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  article.page-content {
    width: 90%;
    margin: auto;
  }

  .left-bordered {
    border-left: 6px solid #eee;
    padding-left: 10px;
    margin-left: 10px;
  }
</style>
{% endblock %}

{% block main %}

<br>

<div class="row-fluid" style="margin-top: 10px; margin-bottom: 60px; ">
  <div class="span8">
    {% block excerpt %}
    <p style="line-height: 1.5em;"
       class="lead">
      Python is a wonderful programming language that is being used more and
      more in many different industries. It is fast, flexible, and it comes
      with batteries included.
    </p>
    <p style="line-height: 1.5em;" class="lead">
      Most of the books you read about Python will teach you the language
      basics – but once you've learnt them, you’re on your own in designing
      your application and discovering best practice.
    <p style="line-height: 1.5em;" class="lead">
      In this book, we'll see how you can leverage Python to efficiently
      tackle your problems and build great Python applications.
    </p>
    {% endblock %}
    <p style="line-height: 1.5em;" class="lead">
      Ready to buy? <a href="#packages">Jump straight to the packages</a>.
    </p>
  </div>
  <div class="span4">
    <img src="/media/images/the-hacker-guide-to-python.png"
         style="max-width: 320px;">
  </div>
</div>

<div>
  <h1>What you will learn</h1>

  <div class="row-fluid">
    <div class="span6">
      <h3>
        <span class="glyphicon glyphicon-ok-sign"></span>
        Best practice
      </h3>
      <p class="left-bordered">
        Methods & advice you should follow when building your application.
        These will help you get the most out of Python, and build a
        future-proof program. If you're already working on something, you'll
        be able to apply the techniques discussed right away to enhance your
        current work.
      </p>
    </div>

    <div class="span6">
      <h3>
        <span class="glyphicon glyphicon-fire"></span>
        Problem-solving
      </h3>
      <p class="left-bordered">
        Real issues and real solutions to tackle problems such as testing,
        porting, or scaling Python applications and libraries. Great tips
        included will help you to avoid making the mistakes that others have
        made, thereby saving you time. We'll discuss strategies that will
        help you maintain your software in the long term.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h3><span class="fa fa-code"></span>
        Sample code</h3>
      <p class="left-bordered">
        The sample code provided with the book is the code used on this Web
        site to send out sample chapters, and to sell the book using
        <a href="https://coinbase.com">Coinbase</a>. It's a complete Python
        package which applies some of the tips and methods described in the
        book. You can learn from it and use it as a reference or boilerplate
        template.
      </p>
    </div>
    <div class="span6">
      <h3><span class="glyphicon glyphicon-cog"></span>
        Language internals</h3>
      <p class="left-bordered">
        This book will explain and introduce you to some of the Python
        internals so you will have a better understanding of how to write
        more efficient code, and gain a greater insight into the inner
        workings of the language.
      </p>
    </div>
  </div>
</div>


<div style="margin-bottom: 60px;">
  <div style="margin-bottom: 40px;">
    <h3>
      <span class="glyphicon glyphicon-comment"></span>
      Learn from the experts
    </h3>
    Read advice, opinions and tips from great hackers in the Open-Source and
    Python communities. The Hacker’s Guide to Python features many
    interviews with experts on the various areas explored.
  </div>

  <div style="margin-bottom: 40px;">
    <div class="row-fluid">
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/ptagliamonte.png">
        </div>
        <div>
          <h4><strong>Paul Tagliamonte</strong></h4>
          <small>
            Debian developer, Software Engineer at Sunlight Fondation.
          </small>
        </div>
      </div>
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/dfontaine.png">
        </div>
        <div>
          <h4><strong>Dimitri Fontaine</strong></h4>
          <small>
            PostgreSQL Major Contributor, President at 2ndQuadrant France.
          </small>
        </div>
      </div>
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/dhellmann.png">
        </div>
        <div>
          <h4><strong>Doug Hellmann</strong></h4>
          <small>
            Python developer, author of <em>The Python Standard Library by
              Example</em>, Senior Cloud Engineer at DreamHost.
          </small>
        </div>
      </div>
      <div class="span3">
        <blockquote>
          <p>I have also found that writing the documentation for a library before
            writing any code at all gives me a way to think through the features and
            workflows for using it without committing to the implementation details.</p>
          <small>Doug Hellmann</small>
        </blockquote>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/ncoghlan.png">
        </div>
        <div>
          <h4><strong>Nick Coghlan</strong></h4>
          <small>
            Python developer, Software Engineer at RedHat.
          </small>
        </div>
      </div>
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/vstinner.png">
        </div>
        <div>
          <h4><strong>Victor Stinner</strong></h4>
          <small>
            Python developer, Software Engineer at eNovance.
          </small>
        </div>
      </div>
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/rcollins.png">
        </div>
        <div>
          <h4><strong>Robert Collins</strong></h4>
          <small>
            Python developer, Distinguished Technologist at HP Cloud Services.
          </small>
        </div>
      </div>
      <div class="span3">
        <div>
          <img class="headshot img-circle img-thumbnail"
               src="/media/images/books/cdevienne.png">
        </div>
        <div>
          <h4><strong>Christophe de Vienne</strong></h4>
          <small>
            Python developer, CTO at UNLISH.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid" style="margin-top: 60px; margin-bottom: 60px;">
  <div class="span6  panel panel-default panel-body">
    <h2>Table of contents</h2>
    <ol>
      <li>Starting your project</li>
      <li>Modules and libraries</li>
      <li>Documentation</li>
      <li>Distribution</li>
      <li>Virtual environments</li>
      <li>Unit testing</li>
      <li>Methods and decorators</li>
      <li>Functional programming</li>
      <li>The AST</li>
      <li>Performances and optimizations</li>
      <li>Scaling and architecture</li>
      <li>RDBMS and ORM</li>
      <li>Python 3 support strategies</li>
      <li>Write less, code more</li>
    </ol>
    <a href="/media/the-hacker-guide-to-python-toc.pdf">Download full table
      of contents</a>
  </div>
  <div class="span6">
    <div class="well text-center">
      <h2>Get a free sample chapter</h2>
      <img style="max-width: 400px" src="/media/images/the-hacker-guide-to-python-opened.png">
      <form id="get-sample" role="form" class="form-inline">
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon
                             glyphicon-envelope"></span>
              </span>
              <input type="email" class="form-control" id="input-email"
                     placeholder="you@example.com">
          </div>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">
          Send me a sample chapter
        </button>
        <br>
        <small>You'll never receive spam. Unsubscribe at any time.</small>
      </form>
    </div>
  </div>
</div>


<div class="row-fluid" style="margin-bottom: 50px;">
  <div class="span2">
    <img src="/media/images/jd.jpg" style="display: block;" class="img-circle img-thumbnail">
  </div>
  <div class="span10">
    <h3><span class="glyphicon glyphicon-edit"></span>
      About the author</h3>
    <p>
      Hi, I'm Julien Danjou, a Free Software hacker for more than 12
      years. I wear multiple hats in the Free and Open Source community,
      among them: <a href="http://debian.org">Debian</a> developer,
      <a href="http://freedesktop.org">Freedesktop</a> contributor,
      <a href="http://www.gnu.org/software/emacs/">GNU Emacs</a>
      committer, the <a href="http://awesome.naquadah.org">awesome</a>
      window manager creator, and more recently, <em>Project Technical
        Leader</em> for <a href="http://openstack.org">OpenStack</a>
      <a href="http://launchpad.net/ceilometer">Ceilometer</a>.
    </p>
    <p>
      For the last few years, I've been hacking using Python a lot,
      especially when working on
      <a href="http://openstack.org">OpenStack</a>, a cloud-computing
      platform. During that time, I've had the chance to work with many
      fabulous Python hackers, and I've learned a lot from them and the
      surrounding community.
    </p>

    <p>I live in Paris, France, and like to travel once in a while. You
      should follow me on Twitter so we can keep in touch!
      <a href="https://twitter.com/juldanjou" class="twitter-follow-button" data-show-count="false">Follow @juldanjou</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
  </div>
</div>

<h1>What they say about it</h1>

<div class="row-fluid" style="margin-bottom: 50px;">
  <div class="span4">
    <blockquote>
      <p>
        I started reading the ebook the other day after ordering it and all I can
        say is that it is exactly what I would want coming to any new language. The
        details not normally covered in a standard programming book, the hard found
        lessons and idioms. Great job Julien! Can't wait to finish it!
      </p>
      <small>Stephen Walker</small>
  </div>
  <div class="span4">
    <blockquote>
      <p>
        Congratulations for your book. I've started reading it and it's
        already being useful to me. It's one of the best python books I've
        seen so far.
      </p>
      <small>Miguel Expósito, responsible of the statistical computing area
at the Statistical Office of Cantabria, Spain</small>
    </blockquote>
  </div>
  <div class="span4">
    <blockquote>
      <p>
        I just started reading The Hacker Guide, (free) chapter on unit
        testing. I write tests every day, I thought that I knew everything
        (it turns out I don’t; testscenarios? Yes!). Thanks for the
        contribution.
      </p>
      <small>Mike Waters, Software Engineering at Dealertrack</small>
    </blockquote>
  </div>
</div>

<h1>The Packages</h1>

<div id="packages"  style="margin-top: 50px;">
  <ul class="row-fluid" style="width: 95%;
                               margin: auto; ">
    <li class="book-panel span4 panel panel-default">
      <div class="panel-heading">
        <h3>
          The e-book
          <span class="label label-warning pull-right">$29</span>
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled" style="text-align: left;">
          <li class="book-package"><span class="glyphicon glyphicon-book"></span> 260 pages book in PDF format.</li>
          <li class="book-package"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.</li>
          <li class="book-package"><span class="fa fa-html5"></span>
            The book in a single
            page HTML format, for easy reference and searching while
            developing.
          </li>
          <li class="book-package"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
        </ul>
        <br>
        <p class="text-center">
          <a type="button" class="btn btn-primary" style="width: 75%"
             href="https://gum.co/thgtp?wanted=true&locale=true">
            <span class="fa fa-usd"></span> Buy with USD
          </a>
        </p>
        <p class="text-center">
          <a type="button" class="btn btn-info" id="bitcoin-button-1" style="width: 75%"
             href="https://coinbase.com/checkouts/49f4e27264b418c8ee928873ea7723fe">
            <span class="fa fa-btc"></span> Buy with Bitcoin
          </a>
          <div class="coinbase-button"
               data-code="8ffc9927dbfb7eb619d94c6db69d3fde"
               data-button-style="none"></div>
          <script type="text/javascript">
            $(document).ready(function() {
            $('#bitcoin-button-1').click(function(){
              $(document).trigger('coinbase_show_modal', '8ffc9927dbfb7eb619d94c6db69d3fde');
              return false;
            });

            $(document).on('coinbase_payment_complete', function(event, code){
              console.log("Payment completed for button "+code);
              window.location = "/books/confirmation.html";
            });
            });
          </script>
        </p>
      </div>
    </li>
    <li class="book-panel span4 panel panel-default">
      <div class="panel-heading">
        <h3>
          <span class="label label-success pull-right">$39</span>
          The e-book<br>+ source code
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled" style="text-align: left;">
          <li class="book-package"><span class="glyphicon glyphicon-book"></span> 260 pages book in PDF format.</li>
          <li class="book-package"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.</li>
          <li class="book-package"><span class="fa fa-html5"></span>
            The book in a single
            page HTML format, for easy reference and searching while
            developing.
          </li>
          <li class="book-package"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
          <li class="book-package"><span class="fa fa-code-fork"></span>
            The code source used to distribute this e-book.
          </li>
        </ul>
        <br>
        <p class="text-center">
          <a type="button" class="btn btn-primary" style="width: 75%"
             href="https://gum.co/thgtpsc?wanted=true&locale=true">
            <span class="fa fa-usd"></span> Buy with USD
          </a>
        </p>
        <p class="text-center">
          <a type="button" class="btn btn-info" id="bitcoin-button-2" style="width: 75%"
             href="https://coinbase.com/checkouts/49f4e27264b418c8ee928873ea7723fe">
            <span class="fa fa-btc"></span> Buy with Bitcoin
          </a>
          <div class="coinbase-button"
               data-code="3d3a414aea4734d8d4cfb7c686ee6d2f"
               data-button-style="none"></div>
          <script type="text/javascript">
            $(document).ready(function() {
            $('#bitcoin-button-2').click(function(){
            $(document).trigger('coinbase_show_modal', '3d3a414aea4734d8d4cfb7c686ee6d2f');
            return false;
            });

            $(document).on('coinbase_payment_complete', function(event, code){
            console.log("Payment completed for button "+code);
            window.location = "/books/confirmation.html";
            });
            });
          </script>
        </p>
      </div>
    </li>
    <li class="book-panel span4 panel panel-default">
      <div class="panel-heading">
        <h3>
          <span class="label label-danger pull-right">$199</span>
          The e-book<br>+ source code<br>+ license
        </h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled" style="text-align: left;">
          <li class="book-package"><span class="glyphicon glyphicon-book"></span> 260 pages book in PDF format.</li>
          <li class="book-package"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.</li>
          <li class="book-package"><span class="fa fa-html5"></span>
            The book in a single
            page HTML format, for easy reference and searching while
            developing.
          </li>
          <li class="book-package"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
          <li class="book-package"><span class="fa fa-code-fork"></span>
            The code source used to distribute this e-book.
          </li>
          <li class="book-package"><span class="fa fa-sitemap"></span>
            License to share with up to 50 members of your team.
          </li>
        </ul>
        <br>
        <p class="text-center">
          <a type="button" class="btn btn-primary" style="width: 75%"
             href="https://gum.co/thgtpscl?wanted=true&locale=true">
            <span class="fa fa-usd"></span> Buy with USD
          </a>
        </p>
        <p class="text-center">
          <a type="button" class="btn btn-info" id="bitcoin-button-3" style="width: 75%"
             href="https://coinbase.com/checkouts/49f4e27264b418c8ee928873ea7723fe">
            <span class="fa fa-btc"></span> Buy with Bitcoin
          </a>
          <div class="coinbase-button"
               data-code="a224b20a1fd16e47c859bf0db24cee9a"
               data-button-style="none"></div>
          <script type="text/javascript">
            $(document).ready(function() {
            $('#bitcoin-button-3').click(function(){
            $(document).trigger('coinbase_show_modal', 'a224b20a1fd16e47c859bf0db24cee9a');
            return false;
            });

            $(document).on('coinbase_payment_complete', function(event, code){
            console.log("Payment completed for button "+code);
            window.location = "/books/confirmation.html";
            });
            });
          </script>
        </p>
      </div>
    </li>
  </ul>
</div>

<div class="panel panel-default" style="width: 95%;
                                        margin: auto;">
  <div class="panel-heading">
    <h3>
      <span class="label label-default pull-right">$49</span>
      Paperback edition
    </h3>
  </div>
  <div class="panel-body row-fluid">
    <div class="span7">
      <p>
      Feeling old school, want to read the book on paper? You can buy the
      278 pages paperback edition on Lulu and get it delivered at your door!
      </p>
      <br>
      <p class="text-center">
        <a href="http://www.lulu.com/commerce/index.php?fBuyContent=14381668">
          <img src="//static.lulu.com/images/services/buy_now_buttons/en/gray.gif?20140321161053">
        </a>
      </p>
    </div>
    <div class="span5">
      <a href="http://www.lulu.com/shop/julien-danjou/the-hackers-guide-to-python/paperback/product-21549566.html">
        <img src="/media/images/the-hacker-guide-to-python.png" style="max-width: 150px;">
      </a>
    </div>
  </div>
</div>

<hr>

<h2>Questions?</h2>
<dl class="row-fluid">
  <div class="span6">
    <dt>Which package should I buy?</dt>
    <dd>That depends on your budget. The book by itself is still 250+ pages
      packed with code samples and tips that will get you on the right path,
      right away.</dd>

    <dt>Can I upgrade later on?</dt>
    <dd>Absolutely! Just reply to your confirmation email that you'd like to
      upgrade and I'll set it up for you.</dd>

    <dt>Can I pay with Paypal?</dt>
    <dd>
      No problem. Just send the amount
      (depending on your choice of packages, see above) to
      <code>julien@danjou.info</code>.
    </dd>

    <dt>Is there DRM on any material?</dt>
    <dd>No way! No DRM at all. Read it when you want, where you want.</dd>
  </div>
  <div class="span6">
    <dt>Will I get updates?</dt>
    <dd>
      Yes! You'll get updates to the guide and associated materials via email
      notifications.
    </dd>

    <dt>What if I hate the guide?</dt>
    <dd>Well if you're not happy, I don't want your money. Just reply to
      your receipt email within 7 days and you'll get a full refund.</dd>

    <dt>Can I have the electronic version if I buy the paperback
      edition?</dt>
    <dd>No problem. Just send me
        <a href="mailto:julien+thgtp@danjou.info">an email</a> with a proof
        of purchase and I will send you the electronic version..
    </dd>
  </div>
</dl>

{% endblock %}


{% block endjs %}
<script type="text/javascript">
function checkSampleSent (data) {
  $("[id=sample-submit-alert]").detach();
  if(data == "Mail is on its way!") {
    $("form#get-sample").after("<div id=\"sample-submit-alert\" class=\"alert alert-success\"><h4 class=\"alert-heading\">Sample on its way!</h4></div>");
    _gaq.push(['_trackEvent', 'THGTP', 'SampleSent', 'OK']);
    $.getScript("http://www.googleadservices.com/pagead/conversion.js");
  } else {
    $("form#get-sample").after("<div id=\"sample-submit-alert\" class=\"alert alert-error\"><h4 class=\"alert-heading\">Failed!</h4> Try again?</div>");
    $("form#get-sample").find("button").removeAttr("disabled");
    _gaq.push(['_trackEvent', 'THGTP', 'SampleSent', 'ERROR']);
  }
}

function sendSample(event) {
   event.preventDefault()
   $("form#get-sample").find("button").attr("disabled", true);
   $.ajax({
     url: "/stork/send-sample",
     type: 'POST',
     data: JSON.stringify({
              email: $("form#get-sample").find("input").val()}
           ),
    contentType: "application/json; charset=utf-8",
    success: checkSampleSent
    });
}

$(function () {
    $("form#get-sample").submit(sendSample);
});
</script>
{% endblock %}
