---
title: The Hacker's Guide to Python
default_block: None
---
{% block wrapper %}
<h1 class="text-center padding">You could write better Python applications</h1>
<div class="container padding type-product inforow">
  <div class="col-sm-4 text-center magnific-wrap">
    <img src="/media/images/the-hacker-guide-to-python-darken-v2.png"
         data-animate="fadeInLeft" class="animate"
         alt="The Hacker's Guide to Python">
  </div>
  <div class="col-sm-8">
    <p class="lead">
      A lot of software engineers learn Python at some point in their career.
      Being for writing scripts or Web applications, they often invest little
      time in learning the language basics. Then they start writing
      applications right ahead, having a lot of questions left unanswered and
      losing a large amount of time Googling around.
    </p>
    <p class="lead">
      Does that sound familiar? You already lost hundreds of hours looking for
      answers online without necessarily the good answer to a problem, wishing
      it was clearer.
    </p>
    <p class="lead">
      But it does not have to be this way. I've been writing Python
      applications for the last few years, at a scale only a few people have
      seen. I've had the chance to work with great teams and engineers and to
      be able to build answers to most questions about Python that you are
        struggling with.
    </p>
    <p class="lead margin text-center">
      <a role="button" class="btn btn-default" href="#packages">
        Get the book
      </a>
    </p>
  </div>
</div>

<div class="thgtp-section">
  <div class="container">
    <h2 class="text-center">What you will learn</h2>
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="/media/images/award.png" class="margin img-icon">
        <h4>
          Best practice
        </h4>
        <p>
          Methods & advice you should follow when building your applications.
          These will help you get the most out of Python, and build a
          future-proof program. If you're already working on something, you'll
          be able to apply the techniques discussed right away to enhance your
          current work.
        </p>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/media/images/gears.png" class="margin img-icon">
        <h4>Language internals</h4>
        <p>
          You will get introduced to some of the Python internals so you will
          have a better understanding of how to write more efficient code,
          and gain a greater insight into the inner workings of the language.
        </p>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/media/images/flask-and-test-tube.png" class="margin img-icon">
        <h4>
          Solve problems
        </h4>
        <p>
          Battle-tested solutions to tackle problems such as testing,
          porting, or scaling Python applications and libraries. You will
          avoid making the mistakes that others have made, saving you time.
          You'll discover strategies that will help you maintain your
          software in the long term.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container shadow-box margin">
  <div class="text-center">
    <h2>
      Get a free sample chapter
    </h2>
  </div>
  <img src="/media/images/arrow-flat.png"
       style="margin-left: 730px;
              max-width: 150px;
              margin-bottom: -45px;">
  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="margin-top margin-side">
        <p>
          Get a sample of the book include the table of contents and a full
          chapter.
        </p>
        <a id="link-chapter"
           href="/media/the-hacker-guide-to-python-sample.pdf">
          <img src="/media/images/the-hacker-guide-to-python-opened.png"
               class="img-sm">
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <form class="form text-center margin-top" id="get-sample">
        <div class="form-group">
          <label class="sr-only" for="input-email">Email address</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon
                           glyphicon-envelope"></span>
            </span>
            <input type="email" class="form-control" id="input-email"
                   placeholder="Your email address">
          </div>
        </div>
        <div class="margin">
          <button type="submit" class="btn btn-default">
            Get the sample chapter by email
          </button>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="input-course" checked>
            Yes, I'd like to receive a free 30 days
            course on how I can make the most out of Python.
          </label>
        </div>
        <p>
          <small>You'll never receive spam. Unsubscribe at any time.</small>
        </p>
      </form>
    </div>
  </div>
</div>


<div class="thgtp-section margin">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 text-center">
        <div class="margin-side">
          <img src="/media/images/message.png"
               class="img-xs margin-bottom">
          <h2 class="text-center">
            Learn from the experts
          </h2>
          Read advice, opinions and tips from great hackers in the Open-Source
          and Python communities. <i>The Hacker’s Guide to Python</i> features
          many interviews with experts on the various areas explored: Paul
          Tagliamonte, Dimitri Fontaine, Doug Hellmann, Nick Coghlan, Victor
          Stinner, Robert Collins, Christophe de Vienne, Joshua Harlow, and
          myself.
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row margin-bottom">
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Paul Tagliamonte"
                 src="/media/images/books/ptagliamonte.png">
          </div>
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Dimitri Fontaine"
                 src="/media/images/books/dfontaine.png">
          </div>
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Doug Hellmann"
                 src="/media/images/books/dhellmann.png">
          </div>
        </div>
        <div class="row margin-bottom">
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Nick Coghlan"
                 src="/media/images/books/ncoghlan.png">
          </div>
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Victor Stinner"
                 src="/media/images/books/vstinner.png">
          </div>
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Robert Collins"
                 src="/media/images/books/rcollins.png">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Christophe de Vienne"
                 src="/media/images/books/cdevienne.png">
          </div>
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Joshua Harlow"
                 src="/media/images/jharlow.jpg">
          </div>
          <div class="col-sm-4 text-center">
            <img class="img-xs img-circle img-thumbnail"
                 alt="Julien Danjou"
                 src="/media/images/jd.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container no-padding">
  <div class="row">
    <div class="col-sm-2 text-center">
      <img class="img-xs img-circle img-thumbnail"
           alt="Gonéri Le Bouder"
           src="/media/images/glebouder.jpg">
    </div>
    <div class="col-sm-10">
      <blockquote>
        “I bought this book some month ago and already recommended it to
        some friends. The book shares the experience of some long-time
        Python developers and introduce modern programming advice.
        Useful for anyone who already know Python and is interested in
        large Python project like OpenStack.”
      </blockquote>
      <h5>Gonéri Le Bouder <small>Senior Software Engineer at Red Hat</small></h5>
    </div>
  </div>
</div>

<span id="packages"></span>

<div class="thgtp-section margin">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="pull-right">
          <img src="/media/images/certificate.png" class="margin-left img-icon-xs">
          <img src="/media/images/code-editor.png" class="margin-left img-icon-xs">
          <img src="/media/images/document.png" class="margin-left img-icon-xs">
        </div>
        <h2>The full package</h2>
        <ul class="margin">
          <li class="list-unstyled"><span class="glyphicon glyphicon-book"></span>
            271 pages book in PDF format.</li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.
          </li>
          <li class="list-unstyled"><span class="fa fa-html5"></span>
            The book in a single page HTML format – easy reference and searching.
          </li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
          <li class="list-unstyled"><span class="fa fa-code-fork"></span>
            The code source of the application used to distribute the sample
            of this book by mail.
          </li>
          <li class="list-unstyled"><span class="fa fa-sitemap"></span>
            License to share with up to 50 members of your team.
          </li>
        </ul>
      </div>
      <div class="col-sm-3 text-center">
        <img src="/media/images/the-hacker-guide-to-python-darken.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/media/images/arrow-left.png" style="margin-left: 62px;">
      </div>
      <div class="col-sm-6">
        <p class="text-center">
          <a role="button" class="btn btn-lg btn-default"
             href="https://gum.co/thgtpscl?wanted=true&locale=true">
            <span class="fa fa-shopping-cart"></span> Get the full package for $ 199
          </a>
        </p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</div>

<div class="container no-padding">
  <div class="row">
    <div class="col-sm-2 text-center">
      <img class="img-xs img-circle img-thumbnail"
           alt="Sylvestre Ledru"
           src="/media/images/sledru.jpg">
    </div>
    <div class="col-sm-10">
      <blockquote>
        “Great book. Usually, Python books just explain the basic of
        the language. This book goes way further and explains what are
        the good guidelines in current and state of the art projects.
        Of course, this is not for Python beginners but every
        intermediate or experienced Python developers are going to
        learn something.”
      </blockquote>
      <h5>Sylvestre Ledru <small>Firefox release manager at Mozilla</small></h5>
    </div>
  </div>
</div>

<div class="thgtp-section margin">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="pull-right">
          <img src="/media/images/code-editor.png" class="margin-left img-icon-xs">
          <img src="/media/images/document.png" class="margin-left img-icon-xs">
        </div>
        <h2>The standard package</h2>
        <ul class="margin">
          <li class="list-unstyled"><span class="glyphicon glyphicon-book"></span>
            271 pages book in PDF format.</li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.
          </li>
          <li class="list-unstyled"><span class="fa fa-html5"></span>
            The book in a single page HTML format – easy reference and searching.
          </li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
          <li class="list-unstyled"><span class="fa fa-code-fork"></span>
            The code source of the application used to distribute the sample
            of this book by mail.
          </li>
        </ul>
      </div>
      <div class="col-sm-3 text-center">
        <img src="/media/images/the-hacker-guide-to-python-darken.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/media/images/arrow-left.png" style="margin-left: 62px;">
      </div>
      <div class="col-sm-6">
        <p class="text-center">
          <a role="button" class="btn btn-lg btn-default"
             href="https://gum.co/thgtpsc?wanted=true&locale=true">
            <span class="fa fa-shopping-cart"></span> Get the standard package for $ 39
          </a>
        </p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</div>

<div class="container no-padding">
  <div class="row">
    <div class="col-sm-2 text-center">
      <img class="img-xs img-circle img-thumbnail"
           alt="Stephen Walker"
           src="/media/images/swalker.jpg">
    </div>
    <div class="col-sm-10">
      <blockquote>
        “I started reading the ebook the other day after ordering it and all I can
        say is that it is exactly what I would want coming to any new language. The
        details not normally covered in a standard programming book, the hard found
        lessons and idioms. Great job Julien! Can't wait to finish it!”
      </blockquote>
      <h5>Stephen Walker <small>Software Engineer at WalkerTek</small></h5>
    </div>
  </div>
</div>

<div class="thgtp-section margin">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="pull-right">
          <img src="/media/images/document.png" class="margin-left img-icon-xs">
        </div>
        <h2>The eco package</h2>
        <ul class="margin">
          <li class="list-unstyled"><span class="glyphicon glyphicon-book"></span>
            271 pages book in PDF format.</li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.
          </li>
          <li class="list-unstyled"><span class="fa fa-html5"></span>
            The book in a single page HTML format – easy reference and searching.
          </li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
        </ul>
      </div>
      <div class="col-sm-3 text-center">
        <img src="/media/images/the-hacker-guide-to-python-darken.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/media/images/arrow-left.png" style="margin-left: 62px;">
      </div>
      <div class="col-sm-6">
        <p class="text-center">
          <a role="button" class="btn btn-lg btn-default"
             href="https://gum.co/thgtp?wanted=true&locale=true">
            <span class="fa fa-shopping-cart"></span> Get the eco package for $ 29
          </a>
        </p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
  </div>
</div>

<div class="container no-padding">
  <div class="row">
    <div class="col-sm-2 text-center">
      <img class="img-xs img-circle img-thumbnail"
           alt="Mike Waters"
           src="/media/images/mwaters.jpg">
    </div>
    <div class="col-sm-10">
      <blockquote>
        “I just started reading The Hacker Guide, chapter on unit testing.
        I write tests every day, I thought that I knew everything (it turns
        out I don’t; testscenarios? Yes!). Thanks for the contribution.”
      </blockquote>
      <h5>Mike Waters <small>Principal Software Engineer at Dealertrack</small></h5>
    </div>
  </div>
</div>

<div class="thgtp-section margin">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="pull-right">
          <img src="/media/images/delivery-truck.png" class="margin-left img-icon-xs">
          <img src="/media/images/document.png" class="margin-left img-icon-xs">
        </div>
        <h2>The old school package</h2>
        <ul class="margin">
          <li class="list-unstyled"><span class="glyphicon glyphicon-home"></span>
            277 pages book in paperback format delivered to your door in a few
            days.
          </li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-book"></span>
            271 pages book in PDF format.</li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-phone"></span>
            The book in EPUB and MOBI format,
            to read on your e-book reader.
          </li>
          <li class="list-unstyled"><span class="fa fa-html5"></span>
            The book in a single page HTML format – easy reference and searching.
          </li>
          <li class="list-unstyled"><span class="glyphicon glyphicon-import"></span>
            Future updates and editions of the book.
          </li>
        </ul>
      </div>
      <div class="col-sm-3 text-center">
        <img src="/media/images/the-hacker-guide-to-python-darken.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img src="/media/images/arrow-left.png" style="margin-left: 62px;">
      </div>
      <div class="col-sm-6">
        <p class="text-center">
          <a role="button" class="btn btn-lg btn-default"
             href="//www.lulu.com/shop/julien-danjou/the-hackers-guide-to-python/paperback/product-21549566.html">
            <span class="fa fa-shopping-cart"></span> Get the old school package for $ 44
          </a>
        </p>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <small class="text-center margin-top">
      <em>Lulu does not deliver the electronic version automatically,
        <a href="mailto:julien+thgtp@danjou.info">forward me your Lulu
          receipt</a>
        to get it.</em>
    </small>
  </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}

<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>

<script type="text/javascript">
function checkSampleSent (data) {
  $("[id=sample-submit-alert]").detach();
  if(data == "Mail is on its way!") {
    $("form#get-sample").after("<div id=\"sample-submit-alert\" class=\"alert alert-success\"><h4 class=\"alert-heading\">Sample on its way!</h4></div>");
    ga.push('send', 'event', 'THGTP', 'SampleSent', 'OK');
    $.getScript("https://www.googleadservices.com/pagead/conversion.js");
  } else {
    $("form#get-sample").after("<div id=\"sample-submit-alert\" class=\"alert alert-error\"><h4 class=\"alert-heading\">Failed!</h4> Try again?</div>");
    $("form#get-sample").find("button").removeAttr("disabled");
    ga.push('send', 'event', 'THGTP', 'SampleSent', 'ERROR');
  }
}

function sendSample(event) {
    event.preventDefault()
    $("form#get-sample").find("button").attr("disabled", true);
    var subscribe_course = $("#input-course").prop("checked");
    $.ajax({
        url: "/stork/send-sample",
        type: 'POST',
        data: JSON.stringify({
            email: $("#input-email").val(),
            firstname: $("#input-firstname").val(),
            course: subscribe_course
        }),
        contentType: "application/json; charset=utf-8",
        success: checkSampleSent
    });

    // Track the chapter sent
    twttr.conversion.trackPid('l5r3o', { tw_sale_amount: 0, tw_order_quantity: 0});

    if(subscribe_course) {
        twttr.conversion.trackPid('l5r3p', { tw_sale_amount: 0,
                                             tw_order_quantity: 0 });
        ga.push('send', 'event', 'THGTP', 'Python course', 'OK');
    }
}

$(function () {
    $("form#get-sample").submit(sendSample);
    $("a#link-chapter").click(function () {
        ga.push('send', 'event', 'THGTP', 'SampleDownloaded', 'OK');
        twttr.conversion.trackPid('l5r3o', { tw_sale_amount: 0, tw_order_quantity: 0});
    });
});
</script>
{% endblock %}
