---
title: "Software"
---
{% from "macros.j2" import render_software_excerpt with context  %}

<div id="BigFlattrButton">
<a class="FlattrButton" style="display:none;" href="http://julien.danjou.info"></a>
<noscript><a href="http://flattr.com/thing/48024/Support-me" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
</div>

Here are some software I've made.

Much of my contribution work is also referenced on
[Ohloh](http://www.ohloh.net/accounts/jdanjou]).

If you like what I do, you can flattr me.

{% for res in resource.node.walk_resources_sorted_by_name() %}
{% if res.name != "index.html" %}
<a href="{{res.url}}">
  {{ render_software_excerpt(res) }}
</a>
{% endif %}
{% endfor %}

